$base-color: #2b78e4;
$grey-color: #cdcdcd;
$grey-color1: #ccc;
$grey-color2: #eaeaea;
$grey-color3: #f9f9f9;
$grey-color4: #f2f2f2;
$grey-color-new:#999;
$white-color: #fff;
$black-color:#000;
$black-color2:#666;
