// Fonts
$font-stack: 'opensansregular', sans-serif;
$font-stack-semibold: 'opensanssemibold', sans-serif;
$font-stack-bold: 'opensansbold', sans-serif;

// Graphic chart
$primary-color: #0064b1;
$font-color: #111;
$opaque: rgba( $primary-color, .8 );
$error-color: #f44336;
$link-color: #337ab7;
$disable-color: #999;
$brand-color: #75b740;
$gmac-color: #006DA5;

//social color
$facebook: #37589b;
$twitter: #55acee;
$linkedin: #007bb5;
$gplus: #dd4b39;
$WhatsApp: #4dc247;

// Category wise table color
$cat1: #024d86;
$cat2: #fe7c00;
$cat3: #00b601;


