@import '../components/dropdown-bootstrap-select', '../components/popup-customization';

body {
    font-size: .9rem;

    .main-container {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        animation-duration: 1s;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
    font-weight: $font-weight-light;
}

.fs-14 {
    font-size: 14px;
}


.fs-16 {
    font-size: 16px;
}

.fs-19 {
    font-size: 19px !important;
}

.min-w {
    min-width: 0;
}

.lineHeight13 {
    line-height: 13px;
}

.lineHeight16 {
    line-height: 16px;
}

.lineHeight18 {
    line-height: 18px;
}

.text-muted {
    color: $color-muted !important;
}

.tooltip {
    z-index: 9999;
}

.display-cell {
    display: table-cell !important;
}

.display-cell {
    display: table-cell !important;
}

.border-bottom-blue {
    border-bottom: 1px solid $brand-color !important;
}

.badge-blue {
    background-color: $brand-color;
}

.wrapper-AtBcr {
    display: none !important;
}

.resize-auto {
    resize: auto;
}

.badge-label {
    &:first-child {
        margin-top: 1rem !important;
    }
}

.save-btn.ajax-process:before {
    content: '\f110';
    margin-right: 5px;
    display: inline-block;
    animation: fa-spin 2s infinite linear;
    -webkit-animation: fa-spin 2s infinite linear;
    font: normal normal normal 14px/1 FontAwesome;
}

.seprator_text {
    position: relative;
    margin: 20px auto $two*5 auto;

    &:before {
        content: '';
        width: 100%;
        display: block;
        height: 1px;
        background-image: -webkit-linear-gradient(left, transparent 0%, #ddd 50%, #ddd 50%, transparent 100%);
        background-image: linear-gradient(left, transparent 0%, #ddd 50%, #ddd 50%, transparent 100%);
    }

    span {
        background: $white-color;
        padding: 0 15px;
        position: absolute;
        top: 0;
        z-index: 10;
        left: 50%;
        font-size: 14px;
        font-weight: 400;
        transform: translate(-50%, -50%);
        color: lighten($black-color, 70%);
    }
}


.heading-highlight::after {
    background: $brand-color none repeat scroll 0 0;
    bottom: -1px;
    color: transparent;
    content: ".";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    width: 57px;
}

.font-light-small {
    font-size: $font-size-small;
    font-weight: $font-weight-light;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.bootstrap-select {
    .dropdown-toggle {
        &:focus {
            outline: none !important;
        }
    }
}

// .border-bottom {
//     border-bottom: 1px solid #eee !important;
// }

.border-bottom-form {
    border-bottom: 1px solid #d2d2d2 !important;
}

.has-search {
    .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
}

.hover-effect {
    transition: all .3s ease-in-out;

    &:hover {
        background-color: #f1f3f4 !important;
        padding: 10px;
    }
}

.icon-active {
    transition: all .3s ease-in-out;
    background-color: #f1f3f4;

    &:hover {
        background-color: rgba(36, 93, 136, .23);
    }
}

.navbar-nav {
    .seprator-right {
        border-right: 1px solid #eee !important;
    }
}

.rounded-circle {
    border-radius: 50%;
}

.bootstrap-select {
    .btn {
        background-color: $color-white;
        color: #000;
        border-color: #eee;
        box-shadow: none;
        padding: 5px 0;
        font-weight: 400;
    }

    &:hover,
    &:focus,
    &.active {
        background-color: $color-white;
        color: #000;
        border-color: #eee;
        box-shadow: none;
    }
}


.header-nav {
    .select-box {
        height: 100%;

        .select-blank {
            max-width: 240px;
        }

        .dropdown.bootstrap-select {

            .dropdown-menu.inner {
                max-height: 170px !important;
            }
        }
    }

    .bootstrap-select .dropdown-menu .dropdown-item {
        white-space: normal;
    }


}

.btn:active:hover,
.btn:active:focus,
.btn:active.focus,
.btn.active:hover,
.btn.active:focus,
.btn.active.focus,
.open>.btn.dropdown-toggle:hover,
.open>.btn.dropdown-toggle:focus,
.open>.btn.dropdown-toggle.focus,
.show>.btn.dropdown-toggle:hover,
.show>.btn.dropdown-toggle:focus,
.show>.btn.dropdown-toggle.focus,
.btn.btn-default:active:hover,
.btn.btn-default:active:focus,
.btn.btn-default:active.focus,
.btn.btn-default.active:hover,
.btn.btn-default.active:focus,
.btn.btn-default.active.focus,
.open>.btn.btn-default.dropdown-toggle:hover,
.open>.btn.btn-default.dropdown-toggle:focus,
.open>.btn.btn-default.dropdown-toggle.focus,
.show>.btn.btn-default.dropdown-toggle:hover,
.show>.btn.btn-default.dropdown-toggle:focus,
.show>.btn.btn-default.dropdown-toggle.focus {

    background-color: $color-white;
    color: #000;
    // border-color: #eee;
    box-shadow: none;
}

nav.shadow-none {
    box-shadow: none !important;
}

.shadow-bottom {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .07);
}

.pointer {
    cursor: pointer;
}

#launcher {
    display: none;
}

.shadow-none {
    box-shadow: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

table {
    font-size: .85rem;
}

.table-responsive table {
    min-width: 630px;
    border: none;
}

.btn.btn-fab {
    height: 35px
}

.pricing-link {
    color: #343a40;

    &:hover {
        color: #4c79dc;
    }
}

nav.navbar {
    min-height: 51px;
}

.table {
    thead {
        &.border-bottom-none {
            th {
                border-bottom: none;
            }
        }

        &.border-top-none {
            th {
                border-top: none;
            }
        }
    }

    th,
    td {
        padding: .75rem 1rem;
    }
}

.form-control {

    &:disabled,
    &[readonly] {
        background-color: $grey-a100;
    }
}

.heading-highlight {
    font-size: 0.9rem;
}

.mob-clg-dropdown {
    .dropdown {
        width: 100% !important;
        position: relative !important;

        .dropdown-menu {
            min-width: 100%;
        }

        button.btn {
            min-width: 100%;
            border-radius: .25rem;
            border: none !important;
            padding: 5px 12px 5px 12px !important;
            background-color: rgba(0, 0, 0, .125) !important;
        }
    }
}

@include media("<tablet") {
    .navbar {
        .toggled {
            .navbar-toggler-icon {
                background-color: $white-color;
            }
        }
    }

    #main {
        transition: margin-left .5s;
        min-height: calc(100vh - 105px);
        position: relative;
        transition: all .5s;
    }

    .header-info {
        margin-bottom: 10px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .setting_right_tabs {
        margin: 10px 0;
    }

    .wrapper {
        .header-info {
            background-color: transparent !important;
            box-shadow: none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    #bodyClick {
        background-color: rgba(0, 0, 0, 0.493);
        opacity: 1;
        left: 0;
        right: 0;
    }

    .nav-open {
        .navbar {
            &.fixed-top {
                border-bottom: none !important;
                background-color: transparent !important;
            }
        }

        .select-box,
        .nameInitials {
            opacity: 0;
        }
    }

    body {
        padding-top: 0 !important;
    }

    nav.navbar {
        position: sticky !important;
        margin-bottom: 0 !important;

        .close-btn-mobile ul li .nav-link {
            color: $white-color !important;

            span {
                color: $white-color !important;
            }
        }
    }

    .mob-config-btn {
        a {
            position: fixed;
            top: 130px;
            left: 0;
            background: rgba(76, 121, 220, 1);
            padding: 10px;
            z-index: 99;
            color: #fff;
            border-radius: 0 .25rem .25rem 0;
            line-height: 1;
        }
    }
}


.validation-message.text-danger {
    &:before {
        content: '\f1e0';
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        margin-right: 5px;
        font-size: 12px;
        vertical-align: middle;
    }

    &:empty {
        display: none;
    }
}

@include media("<tablet") {
    .navbar-nav .seprator-right {
        border: none;
    }

    .navbar-nav .nav-item a.call-noti {
        margin: 9px 5px 8px 5px !important;
    }
}

input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.popover,
input {

    &::placeholder,
    &[placeholder] {
        text-overflow: ellipsis;
    }
}


.form-group .secure-icon {
    position: absolute;
    right: 0;
    bottom: 2px;
    font-size: 15px;
    padding: 6px;
}

.SumoSelect>.CaptionCont {
    border-color: transparent !important;
    box-shadow: none !important;
}

.SumoSelect>.CaptionCont>span.placeholder {
    font-style: normal !important;
}

.no-wrap {
    white-space: nowrap;
}

.normal-select {
    -moz-appearance: auto;
    -webkit-appearance: auto;
}

.config-stage-bar {
    z-index: 99;
    top: 91px;
}

.config-condition-bar {
    z-index: 99;
    top: 92px;
}

.has-tree:not(.has-no-child):before {
    content: '';
    position: absolute;
    left: 0px;
    top: 30px;
    border: 1px solid #f8f9fa;
    width: 1px;
    height: calc(100% - 67px);

    @media only screen and (max-width: 767px) {
        left: -6px;
        top: 37px;
        height: calc(100% - 165px);
    }
}

@media only screen and (max-width: 767px) {
    .has-tree:not(.has-no-child) span.form-label-bg:not(.has-sub-tree-label):before {
        content: "";
        position: absolute;
        left: 9px;
        top: 50%;
        height: 1px;
        width: 24px;
        border: 1px solid #f8f9fa;
    }
}

.has-sub-tree-label {
    position: relative;
    font-size: 85%;

    &:before {
        content: '';
        position: absolute;
        left: -23px;
        top: 50%;
        height: 1px;
        width: 24px;
        border: 1px solid #f8f9fa;

        @media only screen and (max-width: 767px) {
            width: 34px;
            left: -31px;
        }
    }
}

.dlt-btn {
    line-height: 1;
    padding: 10px;
    width: 43px;
    height: 43px;
}

.clear-btn {
    line-height: 2;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -16px;
    text-align: center;

    .material-icons-outlined {
        font-size: 16px;
    }

    @media only screen and (max-width: 767px) {
        top: -224px;
    }
}

.tag-link-list li,
.accordion-card {
    .collapse-icon {
        span {
            transform: rotate(0deg);
            transition: transform .4s ease-in-out;
        }

        &[aria-expanded=true] span {
            transition: all ease .5s;
            transform: rotate(180deg);
            transition: transform .4s ease-in-out;
        }
    }

    a {
        display: inline-block;
        line-height: 1;
    }
}


.no-wrap {
    white-space: nowrap;
}

.has-tree:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 30px;
    border: 1px solid #f8f9fa;
    width: 1px;
    height: calc(100% - 67px);
}

.has-sub-tree-label {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: -23px;
        top: 50%;
        height: 1px;
        width: 24px;
        border: 1px solid #f8f9fa;
    }
}

.dlt-btn {
    line-height: 1;
    padding: 10px;
    width: 43px;
    height: 43px;
}

.clear-btn {
    line-height: 2;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -16px;
    text-align: center;

    .material-icons-outlined {
        font-size: 16px;
    }
}

.tag-link-list .edit-link,
.tag-link-list .delete-link {
    visibility: hidden;
}

.row.has-hover .tag-link-list .edit-link,
.row.has-hover .tag-link-list .delete-link {
    visibility: visible;
}

.empty-section h5 {
    margin-top: -10px;
}

.bootstrap-select .dropdown-menu {
    max-width: 200px;

    a {
        white-space: normal;
    }
}

.header-nav .bootstrap-select .dropdown-menu {
    max-width: 320px;
}

.edit-layout-link {
    display: flex;
    align-items: center;

    span.material-icons-outlined {
        font-size: 18px;
    }

    span {
        font-size: 13px;
    }
}

@include media(">tablet") {
    .edit-layout-link span.material-icons-outlined {
        background-color: rgba(36, 93, 136, .08);
        padding: 7px;
        border-radius: 100%;
        width: 33px;
        height: 33px;
        text-align: center;
    }
}

@include media(">tablet") {
    .edit-layout-link span.material-icons-outlined {
        background-color: rgba(36, 93, 136, .08);
        padding: 7px;
        border-radius: 100%;
        width: 33px;
        height: 33px;
        text-align: center;
    }
}

.inline_tabs .nav-tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;

    .nav-item {
        margin-right: 20px;
        white-space: nowrap;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar {
        display: none;
    }
}

.nav-tabs-wrapper {
    position: relative;

    &:after {
        content: ' ';
        position: absolute;
        right: 0;
        top: -1px;
        background: rgba(241, 243, 244, .7);
        width: 20px;
        height: 100%;
    }
}

.offCanvasModal .nav-tabs-wrapper:after {
    background: rgba(255, 255, 2555, .7);
}

.bmd-form-group label,
.bmd-form-group .form-control,
.bmd-form-group input::placeholder {
    line-height: 1.4;
}

.form-radio-label {
    display: flex;
    align-items: center;
}

.form-radio-label .form-radio-input {
    margin-right: 4px;
}

.table th,
.table td {
    vertical-align: middle;
}

.response-form .btnFormAction {
    background: $primary;
}

.info-tip {
    color: #999;
    cursor: pointer;

    &:hover {
        color: #333;
    }
}

.json-viewer-popup .modal-body pre {
    min-height: calc(100vh - 140px);
    white-space: pre-line;
    margin-bottom: 0;
}

.font-16 {
    font-size: 16px;
}

.font-22 {
    font-size: 22px;
}

.font-30 {
    font-size: 30px;
}

.content-none {

    &:before,
    &:after {
        content: none !important;
    }
}

.list-none {
    list-style-type: none;

    li {
        list-style-type: none;
    }
}

.npf-pagination {
    a {
        padding: .125rem .5rem;

        &.inactive {
            opacity: .8;
            cursor: not-allowed;
            color: #999;
            pointer-events: none;
        }
    }
}

.cke_reset.cke_contents {
    border: none;
    // max-height: 110px !important;
}

#cke_editor1 {
    width: 100%;
    border-left: transparent;
}

.filter-btn {
    width: 36px;
    height: 36px;
}


.response-form .btnFormAction {
    background: $primary;
}

footer ul li {
    margin-left: 5px;

    &:first-child {
        margin: 0;
    }
}

.info-tip {
    color: #999;
    cursor: pointer;

    &:hover {
        color: #333;
    }
}

.json-viewer-popup .modal-body pre {
    min-height: calc(100vh - 140px);
    white-space: pre-line;
    margin-bottom: 0;
}

footer ul li {
    margin-left: 5px;

    &:first-child {
        margin: 0;
    }
}

.btn {
    text-transform: capitalize;
    font-weight: 500;
}

.form-control:disabled,
.form-control[readonly] {
    pointer-events: none;
}

.dropdown-menu {
    .dropdown-header {
        padding-left: 8px;
        padding-right: 8px;
    }

    .dropdown-item.active,
    .dropdown-item:hover {
        background: #dfe8ec;
        color: #538197 !important;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    }
}

.dropdown-menu .dropdown-item,
.dropdown-menu li>a,
.bootstrap-select .dropdown-menu li a {
    padding: .5rem !important;
}

.dropdown-menu .disabled>a:focus,
.dropdown-menu .disabled>a:hover {
    background: rgba(153, 179, 235, .4);
}

div:not(.select-box) .dropdown.bootstrap-select .dropdown-menu {
    max-height: 230px;
}

.select-box .dropdown.bootstrap-select .dropdown-menu {
    max-height: auto;
}

.pointers-none {
    pointer-events: none;
}

.dropdown-toggle:after {
    color: #c1c1c1;
}

.btn-primary,
.bg-primary {
    &.dropdown-toggle:after {
        color: #fff;
        font-size: 18px;
        line-height: 1.5;
    }
}

.email_activities,
.sms_activities,
.whatsapp_activities {
    .thead_1 {
        text-align: center;
    }

    tr td:nth-child(3) .thead_center {
        justify-content: center;
    }
}


.application-walkin-select {
    .btn.dropdown-toggle {
        background: #f8f9fa;

        &:hover {
            background: #f8f9fa;
        }
    }
}

.break-all {
    word-break: break-all;
}

.break-word {
    word-break: break-word;
}

.white-space {
    white-space: normal;
}

.fs-75 {
    font-size: 0.75rem;
}

.fs-85 {
    font-size: 0.85rem;
}

.fs-1 {
    font-size: 0.1rem;
}

.shake-animation {
    animation: change-background 1s linear;

    @keyframes change-background {
        0% {
            background: #fff173;
            margin-top: 0px;
        }

        10% {
            background: #fff173;
            margin-top: -2px;
        }

        20% {
            background: #fff173;
            margin-top: 0px;
        }

        30% {
            background: #fff173;
            margin-top: -2px;
        }

        40% {
            background: #FFF7AE;
            margin-top: 0px;
        }

        50% {
            background: #FFF7AE;
            margin-top: -2px;
        }

        60% {
            background: #FFF7AE;
            margin-top: 0px;
        }

        70% {
            background: #fff;
            margin-top: -2px;
        }

        80% {
            background: #fff;
            margin-top: 0px;
        }

        90% {
            background: #fff;
            margin-top: -2px;
        }

        100% {
            background: #fff;
            margin-top: 0px;
        }
    }
}

.chosen-container {
    min-width: 100%;
}

input[type="checkbox"] {
    cursor: pointer;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, .08);
}

.template-file-name {
    position: relative;
    margin: 9px 9px 0px 0;
    padding: 3px 25px 3px 5px;
    max-width: 100%;
    border-radius: 3px;
    color: #777;
    line-height: 13px;
    cursor: default;
    word-break: break-word;
    font-size: 13px;

    a {
        position: absolute;
        top: 4px;
        right: 3px;
        display: block;
        width: 12px;
        height: 12px
    }
}

.custom-file-label {
    display: flex;
    align-items: center;
    border: 1px solid #e2e1e6;
    border-radius: 4px;
    padding: .5rem;
    max-height: 41px;

    &:after {
        display: flex;
        align-items: center;
        background: #e2e1e6;
    }
}

.floating-label-wrapper {
    .inner:not(.dropdown-menu) {
        overflow: hidden !important;
    }

    .dropdown-menu.inner {
        // padding-bottom: 30px;
        overflow-y: auto;
        position: relative;

        li {
            &:last-child {
                position: sticky !important;
                bottom: 0;
                background: #fff;
                color: #2b78e4;
                margin: 0;
                padding: 0;
                opacity: 1;
                width: 100%;
                box-shadow: 0 0 10px rgba(0, 0, 0, .1);

                a {
                    color: #2b78e4;
                    background-color: #fff;
                    margin: 0;

                    &:hover {
                        background: none;
                    }

                    &:before {
                        content: "+";
                        margin-right: 5px;
                        background: #2b78e4;
                        padding: 0;
                        border-radius: 100%;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        color: #fff;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.input-group {

    .input-group-append,
    .input-group-prepend {
        background: #e2e1e6;
    }

    .input-group-append {
        border-radius: 0 4px 4px 0;
    }

    .input-group-prepend {
        border-radius: 4px 0 0 4px;
    }
}

.token-btn-wrapper {
    .token-modal-btn {
        position: absolute;
        top: 28px;
        right: 0;
        background: #e2e1e6;
        padding: 2px 8px;
        border-radius: 0 0 0 10px;
    }
}

.form-required {
    label:after {
        content: "*";
        color: #f44336;
        padding-left: 2px;
    }
}

.border-input {
    border-color: #ccc !important;
}

.sticky-bottom {
    bottom: 0;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cam-icon {
    right: 2px;
    bottom: 4px;
}

.search-input {
    position: relative;

    input {
        padding-left: 22px;
    }

    &:before {
        content: '\e8b6';
        font-family: 'Material Icons';
        position: absolute;
        top: 19px;
        left: 15px;
        color: #666;
    }
}

.modal-backdrop+.modal-backdrop {
    display: none;
}

.nogap {
    margin: 0;
    padding: 0;
}

.nolist {
    list-style: none;
}

.checkoboxlist {
    li {
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 4px;

        &:hover {}

        label {
            margin: 0 0 0 5px;
            padding: 0;
            color: #333;
            line-height: 18px;
            vertical-align: top;
        }

    }
}

.overflowAuto {
    overflow: auto
}

.top-30 {
    top: 30px;
}

.bottom-30 {
    bottom: 30px;
}

.end-30 {
    right: 30px;
}

.start-0 {
    left: 30px;
}

.label-required {
    &::after {
        content: '*';
        color: red;
        margin-left: 2px;
    }
}


.date-picker {
    position: relative;
    z-index: 1;

    label {
        position: static !important;
    }

    &:after {
        content: '\e93c';
        font-family: 'lineicon';
        position: absolute;
        right: 13px;
        bottom: 8px;
        z-index: 0;
    }
}

.highlightedValue {
    background: #f1f3f4;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 24px;
    font-size: 13px;
    border-bottom: 1px solid #4b7bdd;
    color: #666;
}

.leftbordered {
    border-left: 3px solid;

    &.infoborder {
        border-color: #4c79dc;
    }

    &.dangerBorder {
        border-color: #ec7371;
    }

    &.successBorder {
        border-color: #49d496;
    }
}



.customPopover {
    padding: 4px;

    .popover-title {
        font-size: 13px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        background-color: #f1f3f4;
        color: #424242;
        line-height: 16px;
    }

    .popover-content {
        font-size: 12px;
        line-height: 14px;
    }
}


.bg-light-info {
    background-color: #d4dff7 !important;
}

.comaSeprate {
    word-wrap: break-word;

    &:after {
        content: ',';
        margin-left: 2px;
    }

    &:last-child:after {
        display: none;
    }
}


.custom-file-input:lang(en)~.custom-file-label::after {
    cursor: pointer;
}

.label-required {
    &:after {
        content: '*';
        color: red;
    }
}

.overflow-y {
    overflow-y: overlay;
}

.overflow-x {
    overflow-x: overlay;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    cursor: pointer;
}


.rowSpaceReduce {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;

    & [class*='col-'] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.dropdown-menu {
    .dropdown-item {
        .icon {
            font-size: 16px;
            min-width: 18px;
            max-width: 18px;
            text-align: center;
            display: block;
            margin-right: 2px;
        }
    }
}

.form-group {

    input.form-control,
    textarea.form-control {
        &::placeholder{
            font-size: .75rem !important;
            color: #9c9c9c !important;
            font-weight: 500 !important;
        }
    }
}


button[data-toggle="collapse"] {
    &:active,&:hover,&:focus,&:target{
        background-color: none!important;
        box-shadow: none!important;
        border: none!important;
    }
}


.stickyleft{
    position:sticky;
    left:0;
    z-index: 1;
}

.filterCount{
    .badge {
        position: absolute;
        border-radius: 50%;
        padding: 3px 3px;
        right: -8px;
        min-width: 15px;
        text-align: center;
     }
}