.hasArrow{
	a[data-toggle="collapse"]{
		&:before{
			font-family: 'FontAwesome';
		    content: "\f107";
			font-size: 1rem;
			line-height: 1.4;
		    float: right;
		    transition: all 0.5s;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		&.collapsed{
			&:before{
			   -webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				transform: rotate(0deg);
			}
		}
	}
}