.alert-modal {
    .alert-container {
        display: flex;
        background-color: $white;
        border-radius: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
    }
    .alert-badge {
        min-width: 120px;
        max-width: 270px;
        padding: 3px 22px;
        position: absolute;
        top: -7px;
        color: $white;
        text-align: center;
        background: transparent;
        z-index: 1;

        &:before {
            content: '';
            background-color: $primary;
            position: absolute;
            z-index: -1 !important;
            top: -1px;
            text-align: center !important;
            width: 100%;
            height: 41px !important;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            border: unset;
            border-left: 0;
            transform: perspective(16px) rotateX(-6deg);
            -moz-transform: perspective(16px) rotateX(-6deg);
            -webkit-transform: perspective(16px) rotateX(-6deg);
            transform-origin: top;
            border-radius: 0 0 20px 20px;
            -moz-border-radius: 0 0 20px 20px;
            -webkit-border-radius: 0 0 20px 20px;
        }

        .alert-badge-paper {
            &:before,
            &:after {
                content: ' ';
                position: absolute;
                height: 8px;
                top: -1px;
                z-index: -2;
                background: #a1b9ec;
            }

            &:before {
                width: 13px;
                border-radius: 80px 50px 0 0;
                left: -7px;
            }
            &:after{
                width: 18px;
                border-radius: 50px 60px 0 0;
                right: -7px;
            }
        }
    }
    .alert-content{
        padding: 25px 10px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        .alert-content-scroll{
            display: inline-block;
            overflow-x: hidden;
            overflow-y: auto;
            max-height: calc(80vh - 50px);
            margin-right: -25px;
            padding-right: 25px;
        }
    }
    .alert-btn-group{
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        margin: 0 0 20px;
        text-align: center;
        .alert-btn-filled{
            background: $primary;
            border: 1px solid $primary;
            color: $white;
        }
        .alert-btn-outline{
            background: $white;
            border-color: $primary;
            color: $primary;
        }
    }
    &.warning{
        .alert-badge{
            &:before{
                background: $warning;
            }
            .alert-badge-paper{
                &:before,&:after{
                    background: #ffc266;
                }
            }
        }
        .alert-btn-group{
            .alert-btn-filled,
            .alert-btn-outline{
                border-color: $warning;
            }
            .alert-btn-filled{
                background: $warning;
                color: $white;
                border: 1px solid;
            }
            .alert-btn-outline{
                color: $warning;
                background: $white;
            }
        }
    }
    &.success{
        .alert-badge{
            &:before{
                background: $success;
            }
            .alert-badge-paper{
                &:before,&:after{
                    background: #91cf93;
                }
            }
        }
        .alert-btn-group{
            .alert-btn-filled,
            .alert-btn-outline{
                border-color: $success;
            }
            .alert-btn-filled{
                background: $success;
                color: $white;
                border: 1px solid;
            }
            .alert-btn-outline{
                color: $success;
                background: $white;
            }

        }
    }
    &.error{
        .alert-badge{
            &:before{
                background: $danger;
            }
            .alert-badge-paper{
                &:before,&:after{
                    background: #f99b94;
                }
            }
        }
        .alert-btn-group{
            .alert-btn-filled,
            .alert-btn-outline{
                border-color: $danger;
            }
            .alert-btn-filled{
                background: $danger;
                color: $white;
                border: 1px solid;
            }
            .alert-btn-outline{
                color: $danger;
                background: $white;
            }

        }
    }
}