.breadcrumb-small-item+.breadcrumb-small-item:before{
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #999;
    content: "\f105";
    font-family: fontAwesome;
}
.text-highlight{
    color: $brand-color;
    font-weight: 500;
}
.breadcrumb-item {
    color: #999;
.material-icons{
    font-size: 18px;
    line-height: 1.6;
}
    a{
        font-weight: 500;
    }
}
@include media("<tablet") {
    .w-sm-100{
        width: 100%;
    }
    .section-header-breadcrumb{
        background-color: #f6f8fe;
    }

}