.checkmarkbox,li.checkmarkbox{
    display:inline-block;
    border-radius:5px;
    padding:5px;
    width:100%;
    label{
        margin-bottom: 0;
        color: #666;
        line-height: 18px;
        cursor: pointer;
        display: inline-block;
        margin-left: 5px;
        vertical-align: top;
        width:calc(100% - 25px);
    }

    & input[type="checkbox"]{
        [disabled]{
            cursor: not-allowed;
            &+label{
                cursor: not-allowed;
            }
        }
    }
}

.mdcheckoboxlist,.checkbox2Col{
    max-height:250px;
    overflow: auto;
        li{
            width:48%;
        @media(max-width:767px){
            width:100%;
        }
    }
}



