.circle-wrap {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background: #f1f1f1;
    border-radius: 100%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 120px, 120px, 74px);
}

.circle-wrap .inside-circle {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #d4dff7;
    margin-top: 7px;
    margin-left: 7px;
    color: #4c79dc;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask .fill {
    clip: rect(0px, 75px, 120px, 0px);
    background-color: #4c79dc;
}

.mask.full,
.circle .fill {
    animation: fill ease-in-out 3s;
}

$rotation: 100;

@for $a from 0 through $rotation {
    .c#{$a} {

        .mask.full,
        .fill {
            transform: rotate($a * 1.8 +deg);
        }
    }
}