.conditional-logic {
 position: relative;

 &+& {
  margin-top: 15px;
 }

 .conditional-logic-block:before {
  content: '';
  width: 1px;
  height: calc(100% - 130px);
  position: absolute;
  background: lighten($black, 90%);
  left: 36px;
  top: 48px;
  z-index: 2;
 }

 .add-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  border: 1px solid lighten($success, 10%);
  color: $success;
  background: lighten($success, 38%);
 }

 .remove-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  cursor: pointer;
  height: 18px;
  border-radius: 20px;
  color: $danger;
  border: 1px solid lighten($danger, 10%);
  background: lighten($danger, 38%);
 }

 .condition-row {
  position: relative;

  &:before {
   content: '';
   position: absolute;
   width: 40px;
   height: 1px;
   left: -43px;
   top: 15px;
   background: lighten($black, 90%);
  }
  &:after{
   content: '\e5df';
    position: absolute;
    left: -15px;
    font-family: 'Material Icons';
    top: 5px;
    color: $primary;
    font-size: 21px;
  }
 }

 .conditional-logic-btn {
  border-radius: 35px;
  position: relative;
  z-index: 1;
  background: lighten($primary, 39%);
  border: 1px solid $primary;


  .conditional-logic-span {
   color: $primary;
   cursor: pointer;
   border-radius: 35px;
  }

  input[type="radio"] {
   position: absolute;
   left: -99999px;

   &:checked {
    &+.conditional-logic-span {
     background: $primary;
     color: #fff;
    }
   }
  }
  &+span{
   font-size: .8rem;
  }
 }
}

.conditional-block {
 label {
  position: relative;
  z-index: 2;
 }

 .conditional-logic-btn {
  &:before,
  &:after {
  //  content: '';
   width: 1px;
   height: 16px;
   position: absolute;
   background: lighten($black, 90%);
   left: 40px;
   z-index: -5;
  }
  &:before{
   top: -17px;
  }
  &:after{
   bottom: -17px;
  }
 }
}