.conditional-logic {
 position: relative;

 .conditional-logic-block:before {
  content: '';
  width: 2px;
  height: calc(100% - 125px);
  position: absolute;
  background: lighten($primary, 38%);
  left: 36px;
  top: 50px;
  z-index: 2;
 }

 .add-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid lighten($success, 10%);
  color: $success;
  background: lighten($success, 38%);
 }

 .remove-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  cursor: pointer;
  height: 20px;
  border-radius: 20px;
  color: $danger;
  border: 1px solid lighten($danger, 10%);
  background: lighten($danger, 38%);
 }

 .condition-row {
  position: relative;

  &:before {
   content: '';
   position: absolute;
   width: 54px;
   height: 2px;
   left: -43px;
   top: 15px;
   background: lighten($primary, 38%);
  }
 }

 .conditional-logic-btn {
  border-radius: 35px;
  position: relative;
  z-index: 1;
  border: 1px solid $primary;


  .conditional-logic-span {
   color: $primary;
   cursor: pointer;
   border-radius: 35px;
  }

  input[type="radio"] {
   position: absolute;
   left: -99999px;

   &:checked {
    &+.conditional-logic-span {
     background: $primary;
     color: #fff;
    }
   }
  }

  &:not(.inner-logic):after {}
 }
}

.conditional-logic {
 &+& {
  margin-top: 15px;

  .conditional-logic-btn:not(.inner-logic):before {
   content: '';
   width: 2px;
   height: 24px;
   position: absolute;
   background: #dbdbdb;
   left: 40px;
   top: -81%;
   z-index: -1;
  }
 }
}