.click-copy {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &.item-copied:before {
    content: 'Copied';
    padding: 0;
    background: #6a757d;
    position: absolute;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    cursor: none;
  }
}