.inline_tabs {
    .nav-tabs {
        border-bottom: 1px solid $border-color;
        border-radius: $zero;
        padding: $zero;

        .nav-item {
            @include tablink_space;

            .nav-link {
                padding: $two*4px $two*6px;
                text-transform: capitalize;
                font-size: $two*7.5px;
                color: $color-grey !important;
                border-radius: $zero;

                &.active {
                    font-weight: 500;
                    color: $color-primary !important;
                    border-bottom: 2px solid $color-primary !important;
                    background-color: transparent;
                }
            }

        }
    }

    &.position-sticky {
        top: 51px;
        z-index: 11;
        background-color: $bg-light-blue;
    }

    &.spotlight .nav-item .nav-link.active {
        border-width: 0 0 4px !important;
    }
}

.inline_tabs {
    li {
        a {
            label {
                color: #b3b3b3;
            }
        }
    }
}

.inline_tabs li a span.badge {
    background: #ccc !important;
    border-radius: 10px;
    padding: 5px 10px;
}

.inline_tabs li a.active span.badge {
    background: #4b7bdd !important;
}

@include media("<tablet") {
    .inline_tabs {
        .nav-tabs {
            max-width: 100%;
            overflow-x: auto;
            overflow-y: hidden;

            .nav-item {
                .nav-link {
                    white-space: nowrap;
                }
            }
        }

        &.position-sticky {
            position: inherit !important;
        }
    }

}

.inline_tabs.header-tabs {
    .nav-tabs {
        overflow: visible !important;
        .nav-item .nav-link {
            border: none !important;
            position: relative;
            padding: 8px 20px !important;

            &.active {
                &:after {
                    content: '';
                    position: absolute;
                    height: 4px;
                    left: 0;
                    bottom: -8px;
                    width: 100%;
                    background: $primary;
                }
            }
        }
    }

}