footer {
    .footer-brand {
        padding-top: 0;
        padding-bottom: 0;
        height: 20px;
        font-size: 11px;
    }

    .btn.btn-just-icon {
        height: 20px;
        min-width: 20px;
        width: 20px;

        .fa {
            font-size: 12px;
            line-height: 1.6;
        }
    }
}

@media only screen and (min-width: 992px) {
    #main {
        min-height: calc(100vh - 85px) !important;
    }
}