$height: 8;

@for $a from 0 through $height {
    .h-#{$a} {
        height: $a / 8 + rem;
    }
}

$height: 12;

@for $b from 9 through $height {
    .h-#{$b} {
        height: $b/4 + rem;
    }
}

$height: 20;

@for $b from 13 through $height {
    @if $b%2==0 {
        .h-#{$b} {
            height: $b/4 + rem;
        }
    }
}

$height: 99;

@for $b from 24 through $height {
    @if $b%4==0 {
        .h-#{$b} {
            height: $b/4 + rem;
        }
    }
}

// Min Height

$height: 8;

@for $a from 0 through $height {
    .min-h-#{$a} {
        min-height: $a / 8 + rem;
    }
}

$height: 12;

@for $b from 9 through $height {
    .min-h-#{$b} {
        min-height: $b/4 + rem;
    }
}

$height: 20;

@for $b from 13 through $height {
    @if $b%2==0 {
        .min-h-#{$b} {
            min-height: $b/4 + rem;
        }
    }
}

$height: 99;

@for $b from 24 through $height {
    @if $b%4==0 {
        .min-h-#{$b} {
            min-height: $b/4 + rem;
        }
    }
}

// Max Height

$height: 8;

@for $a from 0 through $height {
    .max-h-#{$a} {
        max-height: $a / 8 + rem;
    }
}

$height: 12;

@for $b from 9 through $height {
    .max-h-#{$b} {
        max-height: $b/4 + rem;
    }
}

$height: 20;

@for $b from 13 through $height {
    @if $b%2==0 {
        .max-h-#{$b} {
            max-height: $b/4 + rem;
        }
    }
}

$height: 99;

@for $b from 24 through $height {
    @if $b%4==0 {
        .max-h-#{$b} {
            max-height: $b/4 + rem;
        }
    }
}

.calc-min-h-100{
    min-height: calc(100vh - 100px);    
}

.calc-min-h-150{
    min-height: calc(100vh - 150px);    
}

.calc-min-h-200{
    min-height: calc(100vh - 200px);    
}

.calc-min-h-250{
    min-height: calc(100vh - 250px);    
}