.listingWidthIcon {
  margin: 0;
  padding: 0;

  label.custom-checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    float: left;
    width: 100%;
    clear: both;
    position: relative;
    padding:5px;
    cursor: pointer;

    span.reportIcon {
      border-radius: 50%;
      padding:4px 5px;
      text-align: center;
      margin-right: 8px;
      color: #fff;
      width:29px;
      height:29px;
    }


    .custom-btn-span {
      position: absolute;
      left:1px;
      top:1px;
      display: none;
    }

    &:first-child {
      margin-top: 0;
    }

    & input:checked~.custom-btn-span{
      display: inline-block;
      &:before{
        content:'\e876';
        font-family: 'Material Icons Outlined';
        font-weight: normal;
        font-style: normal;
        font-size:20px;
        color:#fff;
        left: 8px;
        top:5px;
      }
      &:after{
          background-color: #4c79dc;
          width:29px;
          height:29px;
          border-radius: 50%;
          border:1px solid #4c79dc;
      }
    }
    &:hover{
      background:rgba(76,121,220,.1);
    }
  }
}
