@import '../abstracts/variables';

.search-container{
  position: sticky;
  top: 0;
  z-index: 1;
  background: #2f353a;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.menu-search {
  text-align: left;
  padding: 10.4px 10px;
  font-size: 0.97em;
  display: flex;
  align-items: center;
  color: #f2f2f2;
  text-decoration: none;

  i {
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: middle;
    min-width: 20px;
    text-align: center;
    margin-right: 5px;
  }

  & &-input {
    background: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
    width: calc(100% - 30px);
    min-height: 30px;
    border: none;
    outline: none;
    padding: 0 8px;
    color: #fff;

    &:active,
    &:focus {
      outline: none;
      background: rgba(255, 255, 255, 0.3);
    }

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::placeholder {
      color: #fff !important;
    }
  }
}

.sidebar-mask .search-result {
  font-size: 10px;
  text-align: center;
}

.sidebar .search-result {
  display: none;
  text-align: center;
  position: relative;
  padding: 160px 0 30px 0;

  @media only screen and (min-width: 991px) {
    padding: 180px 0 0 0;
  }

  &:before {
    content: '';
    width: 100%;
    height: 120px;
    position: absolute;
    display: inline-block;
    background: url('../images/no-data.png') center no-repeat;
    left: 0;
    top: 70px;
    background-size: 30%;

    @media only screen and (min-width: 991px) {
      background-size: 60%;
    }

    @media only screen and (min-width: 767px) and (max-width: 990px) {
      background-size: 55%;
    }

  }
}

.sidebar-mask a.menuSearchItem {
  margin: 10px 0 !important;

  &:hover {
    background: rgba($brand-color, .3) !important;
  }

  &[data-toggle="collapse"] {
    display: none;
  }
}

.sidebar:not(.active) {
  .menu-search {
    margin: 0;
    position: relative;

    .menu-search-input {
      margin: 0;
      padding-left: 30px;
      width: 100%;
    }

    i {
      position: absolute;
      left: 15px;
      font-size: 90%;
      opacity: .6;
    }
  }
}