.modal-accordion {
    max-height: calc(100vh - 185px);
    min-height: calc(100vh - 200px);
    overflow: auto;

    small,
    .small {
        line-height: 1.1;
    }

    [data-toggle="collapse"] {
        position: relative;
        padding-left: 35px;

        &:after {
            content: '\f0da';
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            left: 5px;
            top: 15px;
            border-radius: 100%;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #666;
        }

        &[aria-expanded="true"] {
            background: #f8f9fa;
            position: sticky;
            z-index: 1;
            top: 0;

            &:after {
                transform: rotate(90deg);
                color: #a1b9ec;
            }
        }

        &:hover:after {
            background: rgba(36, 93, 136, .08) !important;
        }
    }

    .modal-accordion-content {
        padding-left: 35px;
    }

    .modal-accordion-btn {
        position: absolute;
        right: 15px;
        top: -55px;
        z-index: 1;
    }
}