.modal-accordion {
    max-height: calc(100vh - 150px);
    small,
    .small {
        line-height: 1.1;
    }

    [data-toggle="collapse"] {
        position: relative;
        padding-left: 35px;

        &:after {
            content: '\f0da';
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            left: 5px;
            top: 15px;
            border-radius: 100%;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #666;
        }

        &[aria-expanded="true"] {
            background: rgba(0,0,0,.01);
            &:after {
                transform: rotate(90deg);
                color: #a1b9ec;
            }
        }

        &:hover:after {
            background: rgba(36, 93, 136, .08) !important;
        }
    }
}