.modal {
    .modal-dialog {
        margin: 0 auto;
        width: 500px;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
        left: auto;

        &.modal-lg {
            width: $modal-lg;
            max-width: $modal-lg;
        }

        &.modal-llg {
            width: $modal-llg;
            max-width: $modal-llg;
        }

        &.modal-sm {
            width: $modal-sm;
            max-width: $modal-sm;
        }

        &.modal-md {
            width: $modal-md;
            max-width: $modal-md;
        }

        &.modal-xlg {
            width: $modal-xlg;
            max-width: $modal-xlg;
        }

        @media only screen and (max-width: 767px) {
            width: 100%!important;
            max-width: 100%!important;
        }

        .modal-content {
            border-radius: 10px;

            .modal-body {
                overflow-y: auto;
                padding: 15px;
            }

            .modal-header {
                padding: .75rem;
                border-radius: 0;

                .modal-title {
                    /*color:#fff;*/
                    margin: 0;
                }

            }

            .close {
                position: absolute;
                right: 28px;
                top: 25px;
                border: 0;
                background: none;
                cursor: pointer;
                opacity: 1;
                color: #000;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .25rem;
                width: 31px;

                &:hover {
                    background: rgba(0, 0, 0, .1);
                    color: red;
                }
            }

            .modal-footer {
                padding: 8px 15px;
                text-align: left;
                border-top: 1px solid #ddd;
                box-shadow: 0 -5px 5px -5px #eee;
//                 position: fixed;
//                 width: 100%;
//                 bottom: 0;
//                 left: 0;
//                 background-color: #fff;
//                 z-index: 111;
                background-color: #fff;
                z-index: 111;
                border-radius: 0 0 10px 10px;

                .btn {
                    font-weight: 500;

                    &.btn-outline-secondary {
                        color: rgba(0, 0, 0, 0.57);
                        border-color: rgba(0, 0, 0, 0.57);
                    }
                }
            }
        }
    }

    .close-modal {
        position: absolute;
        right: 25px;
        left: auto;
        top: 12px;
        z-index: 999999;
        background-color: transparent;
        border: none;
        padding: 0;
        border-radius: 50%;
    }
}

.modal-open {
    overflow: hidden!important;
}

.bodybg{
    background:#f1f3f4;
}
.whitebg{
    background:#fff;
}

.dropdown-menu-modal{
    z-index:1065;
}

.modal-backdrop.show {
    opacity: 1;
}


.modal-backdrop+.modal+.modal-backdrop {
    z-index: 1052!important;
}

.modal-backdrop+.modal {
    z-index: 1053!important;
}

.ticket-detail-popup.modal {
    .modal-dialog .modal-content .modal-body {
        @media only screen and (min-width: 767px) {
            overflow: hidden;
        }
    }
}

.modal:not(.offCanvasModal) .modal-dialog .modal-content .modal-body {
    max-height: 80vh;
}

.modal {
    z-index: 1052;

    &.modal-inside {
        z-index: 1053;
    }

    &-backdrop.show {
        z-index: 1051;

        &+& {
            z-index: 1052;
        }
    }
}

.modal.header-less-modal {
    .modal-dialog .modal-content .close {
        right: 10px;
        top: 10px;
    }
    .left-dropdown-options{
        position:absolute;
        left: 0;
        top: 0;
        button{
           &:hover{
               background: rgba(0,0,0,.02);
           }
        }
    }
    .profile-background{
        background-color: #edf3ff;
    }
}