$brand-color: #4c79dc !default;

.nav-btn-group {
  overflow-x: auto;
  max-width: 100%;
  padding-bottom: 3px;

  a,
  button {
    font-size: 85% !important;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid transparent;

    &:hover,
    &:focus {
      outline: none;
      border-color: $brand-color;
    }
  }

  .bg-white {
    font-weight: 500;
    border-bottom: 1px solid $brand-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, .01);
  }
}