.notch {
  position: relative;

  &:before,
  &:after {
    content: '';
    right: -18px;
    position: absolute;
    pointer-events: none;
    z-index: 9;
  }

  &.arrow-right {
    &:before {
      border: 10px solid $border-color-disable;
      border-color: transparent $border-color-disable transparent transparent;
    }

    &:after {
      top: -4px;
      border: 9px solid #f8f9fa;
      border-color: transparent #f8f9fa transparent transparent;
    }
  }
}