.notifY-alert{
    display:none;
    position:fixed;
    width :100%;
    min-width:15rem;
    z-index: 10000;
    top:0;
    left: 0;
    align-items: center;
    justify-content: center;
    .notify-content{
        font-size:0.85rem;
        border-radius: 0 0 1rem 1rem;
        padding:.5rem 1rem;
        box-shadow:0 .5rem 1rem rgba(0, 0, 0, .15);
        display:flex;
        @media (min-width:992px){
            max-width:80%;
            margin:0 auto;
        }
    }
    &.show{
        display:flex;
    }
    .alert-icon{
        display: inline-block;
        float: none;
        margin-right: 0.2rem;
        vertical-align: top;
        .material-icons{
            font-size: 18px;
        }
    }
}