.overlay-btn-group {
 position: relative;
 overflow: hidden;
 padding: 2px 0;
 min-width: 160px;

 .btn-row {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: -45px;
 }

 .overlay-btn {
  height: 20px;
  line-height: 17px;
  cursor: pointer;
  background-color: #fff;
  transition: all ease .3s;
 }

 &:hover {
  .overlay-btn-title {
   opacity: .3;
  }

  .btn-row {
   opacity: 1;
   visibility: visible;
   transition: all ease .3s;
   right: 0;
  }
 }
}