.plusMinushide,.Whatsapp-business-number-div{
    .row,.rowSpaceReduce{
        &:first-child{
            .remove-div{
                display:none!important;
            }
            .add-div{
                display:none;
            }
            .plusMinushideLabel{
                display:block;
            }
        }
        .add-div{
            display:none;
        }
        &:last-child{
            .add-div{
                display:inline-block;
            }
            .remove-div{
                display:inline-block;
            }
        }
        @media (min-width:767px){
            .plusMinushideLabel{
                display:none;
            }
        }
    }
    &.plusMinusCount{
        position: relative;
        z-index: 1;
        counter-reset: css-counter 0;
        &:before {
                content: '';
                width: 1px;
                height: calc(100% - 23px);
                position: absolute;
                display: block;
                background: $primary;
                left: -12px;
                top: -11px;
                @media (max-width:767px){
                    top:-32px;
                    height: calc(100% - 10px);
                }
        }
        &:after {
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            display: block;
            background: #ccc;
            left: -15px;
            top: -26px;
            border-radius: 50%;
            display: none;
        }
        div.rowSpaceReduce{
            position: relative;
            margin-top: 10px;
            padding-left: 40px;
            counter-increment: css-counter 1;
            &:after {
                content: '';
                width:37px;
                height: 1px;
                background: $primary;
                position: absolute;
                top: 17px;
                left: -7px;
                z-index: 0;
            }
            &:before {
                content: counter(css-counter);
                position: absolute;
                left: 15px;
                top: 8px;
                border:1px solid $primary;
                color: $primary;
                background-color: #fff;
                padding: 3px 5px;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                font-size: 9px;
                line-height: 12px;
                text-align: center;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
           @media (min-width:767px){
            .validation-message {
                position: absolute;
                bottom: -18px;
            }
           }
            &:first-child{
                margin-top: 0;
            }
        }
      }
}


.addmorerow{
    font-size: 18px;
    position: absolute;
    left: -30px;
    background: $primary;
    box-shadow:0 0 0 3px rgba($primary,.4) ;
    padding: 5px;
    border-radius: 50%;
    z-index: 11;
    top: -5px;
    color: #fff;
}