.popup-customization {
    label {
        font-size: .8rem !important;
        color: #444;
        margin-bottom: 3px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-control {
        background: none !important;

        &:not(.bootstrap-select) {
            border: 1px solid $border-color-enable;
        }

        &[disabled],
        .disabled,
        &[readonly] {
            background-color: #f1f1f1 !important;
            border: 1px solid $border-color-disable;
        }

        &:not([readonly]),
        &:not([disabled]),
        &:not(.disabled) {
            &:focus {
                border-color: #4c79dc !important;
            }
        }
    }

    .dropdown.bootstrap-select {
        .dropdown-toggle:after {
            color: #333;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .dropdown-menu {
            border-radius: 2px;
        }

        .btn.dropdown-toggle {
            border-color: #ccc !important;

            &[disabled],
            &.disabled {
                border-color: $border-color-disable !important;

                &:after {
                    color: darken($border-color-disable, 10%) !important;
                }
            }
        }

        &.show {
            .btn.dropdown-toggle {
                border-color: $primary !important;

                &[disabled],
                &.disabled {
                    border-color: $border-color-disable !important;

                    &:after {
                        color: $border-color-disable !important;
                    }
                }
            }
        }

        .btn {
            border-radius: 2px;
        }

        .bs-searchbox {
            &:after {
                top: 14px;
                color: #666;
                right: auto;
                left: 15px;
                width: 21px;
                height: 21px;
            }

            .form-control {
                border: 1px solid #eee;
                background: none;
                height: 30px;
                padding: 0 0 0 1.75rem;
                border-radius: 2px;
                background: none;
            }
        }
    }

    .bootstrap-tagsinput,
    .date-range-picker,
    input[type="text"],
    input[type="number"],
    textarea {
        background: none;
        font-size: 85%;
        border: 1px solid #ccc;
        padding: 10px;
        color: #000;
        border-radius: 2px;

        &::placeholder {
            font-size: 95%;
        }
    }

    .bootstrap-tagsinput {
        padding: 5px;
        padding-right: 30px;

        input[type="text"] {
            border: none;
            padding: 0 5px 5px;
            font-size: .85rem;
            max-width: 150px;
        }
    }

    .chosen-container {
        border: 1px solid #d2d2d2;
        border-radius: 2px;
        min-height: 56px;

        .search-choice {
            margin-left: 5px !important;
        }

        .chosen-search-input {
            padding-left: 8px !important;
        }

        .chosen-choices {
            border: none;
        }
    }

    .label-static {
        label {
            position: static !important;
        }
    }

    .no-results {
        font-size: 75%;
    }

    .bs-searchbox .form-control {
        padding-top: .2rem;
        padding-bottom: .2rem;
    }

    .validation-message {
        line-height: 1.4;
        margin-top: 5px;
    }
}