#expendedSearch.active,#expendedChildSearch.active{
    #searchMasterData{
        background:#fff;
    }
    #searchBox{
        border-bottom-color: #fff!important;
    }
    .expended-search-wrpper{
        .row{
            border-radius:3px 3PX 0 0;
        } 
    }
}
  
  .searchSuggestion{
    right:8px;
    width:546px;
    box-shadow:0px 10px 10px #3e3e3e;

    @media only screen and (max-width:767px) {
      right:0;
      width:100%;
      top:90px!important;
    }
  }
  .searchSuggestion,.searchChildSuggestion{
    position:absolute;
    top:34px;
    z-index: 999;
    background: #fff;
    display:none;
    overflow: hidden;
    border-radius:0 5px 5px 5px;
    
  
    .searchresult,.searchChildResult{
      list-style:none;
      padding:0;
      margin:0px;
      max-height:calc(100vh - 110px);
      overflow-x:hidden;
      overflow:auto;
      text-align:left;
      
      li{
        color:#666;
        border-top:1px solid #eee;
        padding:5px 8px;
        font-size:12px;
        cursor: pointer;
        span{
          color:#666;
        }
        a{color:#4c79dc;
          &.active{
            color:#4c79dc;
            font-weight:500;
            margin-left:5px;
            &::before {
              color: rgba(107, 105, 105,1);
              content: "\f105";
              font-family: fontAwesome;
              margin-right:5px;
            }
          }
        }
        &:hover,&:focus{
          background:#f2f2f2;
        }
      }
    }
  }

  .searchChildSuggestion{
    width: 349.7px;
    right: 0px;
    top:31px;
    margin: 0;
    padding: 0;
    border-radius:0 0px 5px 5px;
  }
  
  #expendedSearch.active+.searchSuggestion,#expendedChildSearch.active+.searchChildSuggestion{
    display:block;
  }
  
  .overlaybg,.overlaybgModal{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background:rgba(0,0,0,.4);
    z-index:112;
    display: block;
    right: 0;
    bottom: 0;
    display:none;
  }


.custom-breadcrumb{ 
  text-transform:capitalize;
    .breadcrumb-item{
      color:#4c79dc;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight:500;
      text-transform:capitalize;
      cursor: pointer;
      &:hover,&:last-child{
              color: #333;
      }
      &:last-child{
        pointer-events:none;
      }
      &:first-child{
        color: #6c757d;
        pointer-events: none;
      }
    }
}


.noRelventData{
  padding:10px 0!important;
  text-align:center;
  
  span{
    color:#9f9e9e!important;
  }
  &:hover,&:focus{
    background:#fff;
  }
  .material-icons{
    background:#f2f2f2;
    width:36px;
    height:36px;
    line-height:36px;
    border-radius:50%;
    text-align:center;
    display:block;
    margin:0 auto;
  }
  &.noHover{
    &:hover,&:focus{
      background:transparent;
    }
  }
}