.drag-box {
  >div.card{
    border: 1px dashed #ccc;
  }
  .sort-handle {
    position: relative;
    cursor: move;

    &:after {
      content: '';
      width: 13px;
      height: 28px;
      position: absolute;
      left: -24px;
      top: 3px;
      background: url('../images/drag-handle.png') no-repeat center;
      background-color: #fff;
    }
  }

  .ghost-drag {
    border: 2px dashed #ccc !important;
    background: #fff;
    opacity: .6;
  }
}