.timeline {
  &-group {
    position: relative;

    &:before {
      content: '';
      height: calc(100% - 25px);
      border-left: 1px dashed #ccc;
      position: absolute;
      left: -2px;
      top: 16px;
    }

    .all-timeline-loaded:before {
      height: calc(100% - 95px);
    }
  }

  &-item {
    position: relative;

    &:before {
      content: '\e9c1';
      color: $primary;
      left: -8px;
      top: 7px;
      width: 15px;
      height: 20px;
      position: absolute;
      background-color: #fff;
      font-family: 'Material Icons';
    }

    &-last {
      position: relative;

      &:before {
        content: '';
        top: 0;
        left: -3px;
        width: 2px;
        height: 100%;
        position: absolute;
        background: white;
      }
    }
  }
}

.timeline-group.slightly-left {
  &:before {
    left: 17px;
  }

  .timeline-item {
    &:before {
      content: none;
    }
  }
}

.timeline-group .timeline-item {
  &.create-item:before {content: '\e148';}

  &.notes-item:before {content: '\f040'; font-family: 'Material Icons Outlined';}

  &.followup-item:before {content: '\e916';}

  &.assign-item:before {content: '\eb64';}

  &.stage-item:before {content: '\ea18';}

  &.edit-item:before {content: '\e3c9';}

  &.inbound-item:before {content: '\e649';}

  &.outbound-item:before {content: '\e61c';}

  &.campaign-item:before {content: '\ef49';}

  &.email-item:before {content: '\e158';}

  &.sms-item:before {content: '\e625';}

  &.whatsapp-item:before {content: '\e148';}

  &.niaa-item:before {content: '\e148';}
}