.toggletag{
    display:inline-block;
    position:relative;
    margin:5px 5px 0 0;
    a.basicTemplateTag{
      text-decoration:none;
      color:#999;
      font-size:20px;
      &:hover,&:focus{
        color:#4b7bdd;
      }
    }
    .btn{
        font-weight:500;
      }
  }

  .tagcontainer{
    padding:0px;
    background:#fff;
    position:absolute;
    top:38px;
    left:0px;
    min-width:200px;
    display:none;
    text-align:left;
    z-index:99;
    background:transparent;


    .falseInputTag{
        padding:0px;
        text-align:left;

        .input{
            margin:5px 10px;
            position: relative;
            input[type="text"] {
                min-width: auto;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                background:transparent;
                font-size: 12px;
                padding: 0 0 0px 20px;
                border-bottom: 1px solid #ddd;
                &:focus{
                  border-color:#4b7bdd;
                }
            }
            &:after {
                content: '\f002';
                font-family: 'FontAwesome' !important;
                position: absolute;
                left:0;
                top: 0;
                color:#aaa;
            }
        }

        .createdtaglist{
          position: relative;
          min-height: 130px;
          overflow:auto;
          overflow-x:hidden;
          display: flex;
          justify-content: center;
          vertical-align: middle;
          align-items: center;

          .createtag {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #fff;
            padding: 2px 5px;
            z-index:10;

            &:before {
              background:#75b740;
              content: '';
              width: 30px;
              height: 55px;
              display: block;
              position: absolute;
              z-index: 0;
              right: -10px;
              top: -18px;
              transform: rotate(45deg);
            }
            .fa{
              position: relative;
            }
          }
          .enterTag{
            color:#4b7bdd;
          }
        }

        div[id^=show_tag_list]{
            width: 100%;
            padding: 0;
            text-align: left;
            height:120px;
            overflow:auto;
            overflow-x:hidden;

            .tag{
                font-size: 14px;
                margin: 0;
                text-align: left;
                background: transparent;
                color: #424242;
                display: block;
                font-weight: normal;
                border-radius:0;
                position: relative;
                cursor:auto;
                &:before {
                  content: "";
                  width: 12px;
                  height: 12px;
                  background: #ccc;
                  display: inline-block;
                  margin: 0 8px 0 0;
                  border-radius: 2px;
                  position: relative;
                  top:1px;
                }
                a.remove{
                  position:absolute;
                  right:10px;
                  display:none;
                  top:8px;
                }
                &:hover{
                  background:#f2f2f2;
                  cursor:pointer;
                  a.remove{
                    display:flex;
                    color:red;
                  }
                }
            }
        }

        ul.autosuggest {
            left: -1px;
            width: calc(100% + 2px);
            max-height:130px;
            overflow:auto;
            overflow-x:hidden;

            li{
                background:#fff;
                border-color:#f2f2f2;
                &:hover{
                    background:rgba(0,68,101,0.1);
                    color:#004465;
                }
            }
        }
    }

    &:before {
        width: 0;
        height: 0;
        border-left:9px solid transparent;
        border-right:9px solid transparent;
        border-bottom:9px solid #fff;
        content: '';
        position: absolute;
        left:10px;
        top: -8px;
        z-index:9;
    }

    &:after {
        width: 0;
        height: 0;
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-bottom:10px solid #ccc;
        content: '';
        position: absolute;
        left:9px;
        top: -9px;
    }
    &.open{
        display:block;
    }
}


.norelvent_search {
  text-align: center;
  margin: 15px 0;
  font-size:12px;

  i {
    background: #dce6f7;
    padding:10px;
    border-radius: 50%;
    color: #2b78e4;
    font-size: 24px;
    border: 1px solid #d3e1f9;
    display:inline-block;
  }

  span{
    display:block;
    text-align:center;
    margin:0px auto;
    color:#777;
  }
}

.falseInputTag {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  padding: 5px 10px;

  & input[type="text"] {
  border: none;
  min-width: 200px;
  }
}

.border_selected_tag .tag {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
}


.tagcontainer-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.9);
  display: block;
  z-index: 12;
}