.tokenModal {
    >table {
        border-radius: 10px;
        overflow: hidden;
    }

    .cke_dialog_ui_labeled_label {
        display: none;
    }

    .cke_dialog_title {
        padding: .75rem;
    }

    .cke_dialog_title,
    .cke_dialog_footer {
        font-size: 1.1rem;
        background-color: #fff;
    }

    .btn.dropdown-toggle {
        background-color: #f8f9fa;
        padding-left: 1rem;
        margin-bottom: 0.75rem;
    }

    input[type='search'] {
        min-height: 38px;
        border-bottom: #f5f5f5 1px solid;
        margin-bottom: 2px;
        font-size: 1rem;
        padding-left: 9px;
    }

    .dropdown-header {
        padding: 0.75rem 0.5rem;
        border-left: 2px solid #4c79dc;
        background: #f6f8fd;

        span {
            font-weight: bold;
        }
    }

    .dropdown-menu .dropdown-item,
    .dropdown-menu li>a {
        margin: 0;
        border-radius: 0;
        padding-left: 14px !important;
    }

    .dropdown-menu .dropdown-item.active,
    .dropdown-menu .dropdown-item:hover {
        box-shadow: none;
    }

    .dropdown-menu {
        box-shadow: none;

        &:not(.inner) {
            border: 1px solid #f5f5f5;
        }
    }
}

.tokenModal,
div[class*="cke_editor_editor_"],
.cke_editor_confirm_msz_dialog {

    .cke_dialog_contents_body {
        padding: 5px 10px;
    }

    .chosen-container {
        background: #f8f9fa !important;

        .chosen-drop {
            position: relative;
            box-shadow: none;
            display: block;
            background: #f8f9fa !important;
            padding: 0 5px;
            clip: auto;
            -webkit-clip-path: none;
            clip-path: none;

            .chosen-search,
            .chosen-results {
                padding: 0;
                margin-bottom: 0;
                margin-right: 0;
            }

            .chosen-results {
                background-color: #fff;
                margin-bottom: 10px;
                border: 1px solid #f5f5f5;

                li {
                    padding: 10px 6px;

                    &.result-selected {
                        background-color: rgba(0, 68, 101, .1);
                        color: #004465;
                    }

                    &:focus,
                    &:hover,
                    &:visited {
                        background-color: rgba(0, 68, 101, .1);
                        color: #004465;
                    }
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .chosen-single {
            span {
                line-height: 30px;
            }

            div {
                display: none;

                b {
                    text-align: center;

                    &:before {
                        position: relative;
                        top: 7px;
                    }
                }
            }
        }

        .chosen-results {
            li {
                &.group-result {
                    background-color: $grey-50;
                    border-left: 2px solid #4c79dc;
                }
            }
        }

        .chosen-search {
            input {
                padding: 5px 8px !important;
                min-height: 36px;
                margin: 0;
                border-radius: 3px 3px 0 0 !important;
                border-color: #ebebeb !important;
                border-bottom: none;
                background-color: #fff !important;
            }

            &:before {
                content: "search";
                font-family: "Material Icons";
                font-size: 19px;
                color: #4c79dc;
                width: 30px;
                height: 30px;
                position: absolute;
                right: 0;
                top: 10px;
            }
        }
    }

    .cke_dialog_ui_input_select {
        display: block;
    }

    &.cke_reset_all * {
        box-sizing: border-box;
        cursor: pointer;

    }

    .cke_dialog_footer *,
    .cke_dialog_close_button {
        background-color: transparent;
    }

    .chosen-results * {
        font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .chosen-container-active.chosen-with-drop .chosen-single {
        border-radius: 3px;
        border-color: #ebebeb !important;
        box-shadow: none !important;
        background: #fff !important;
    }

    .chosen-single {
        font: 400 13px/30px "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        padding: 6px 8px !important;
        min-height: 40px;
        margin-bottom: 10px;
        border-radius: 3px;
        border-color: #ebebeb !important;
    }

    a.cke_dialog_close_button {
        background-image: url('../images/close.png');
        background-repeat: no-repeat;
        background-position: 50%;
        position: absolute;
        cursor: pointer;
        text-align: center;
        height: 16px;
        width: 16px;
        top: 11px;
        z-index: 5;
        opacity: .7;
        right: 12px;

        .cke_label {
            display: none;
        }
    }
}

a.cke_dialog_ui_button {
    border-radius: 0 !important;
}

a.cke_dialog_ui_button_ok {
    background: #4c79dc !important;
    border: 1px solid #4c79dc;
}

.tokenModal .modal-body .tokens-npf {
    min-height: 360px;

    .dropdown.bootstrap-select {
        width: 100%;

        .dropdown-menu {
            width: 100%;
            min-width: 100% !important;
        }
    }

    .dropdown-divider {
        margin: 0;
        border: none;
    }

    input[type='search'] {
        margin: 0 0 2px;
        background: none;
    }

    .bs-searchbox {
        padding: 0;
        border-bottom: #f5f5f5 1px solid;
    }
}