.step-one-modal {
    z-index: 1051;

    .notifyCountUl {
        padding: 0;
        margin: 0;

        li {
            display: table;
            width: 100%;
            font-size: 13px;
            border-bottom: 1px solid #ccc;
            -moz-border-image: -moz-linear-gradient(right, white, #ddd, #ddd, white) 1 20%;
            border-image: linear-gradient(to right, white 0%, #ddd 40%, #ddd 60%, white 100%) 1 20%;
            padding: 10px;

            &:hover,
            &.active {
                background-color: #f8f9fa;
            }
        }

        .disBtn {
            vertical-align: middle;

            .btn {
                padding: 5px 15px;

                i {
                    color: $brand-color;
                }

                &:hover {
                    background-color: transparent;
                }
            }
        }

        .disMobile {
            min-width: 140px;
            vertical-align: middle;
        }

        .disAudio {
            min-width: 220px;
            vertical-align: middle;
        }

        a {
            color: $brand-color;

            i {
                color: #5f6368;
            }
        }

        .callIco {
            vertical-align: middle;
            display: inline-block;
            margin-right: 5px;
            position: relative;
            color: $brand-color;

            i {
                color: #4b7bdd;
                background: #fff;
                vertical-align: middle;
                border-radius: 50%;
                padding: 5px;
                text-align: center;
                border: 1px solid #4b7bdd;
                font-size: 16px;
            }
        }

        .btn {
            i {
                color: $color-white;
                font-size: 13px !important;
                margin-right: 4px;
            }
        }

        audio {
            width: 90%;
            margin: 5px auto 0;
            height: 30px;
        }

        source {
            background-color: red;
        }
    }

    .outbound-list {
        .disBtn {
            .btn {
                margin-top: 6px;
            }
        }
    }

    i {
        font-size: 19px;
    }

    .show-all {
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        padding: 2px 15px;

        &:hover {
            background: $brand-color;
            border-radius: 20px;
            color: $color-white;
        }
    }
}

.step-two-modal {
    .modal-title {
        i {
            color: #4b7bdd;
            background: #fff;
            vertical-align: middle;
            border-radius: 50%;
            padding: 5px;
            margin-right: 8px;
            text-align: center;
            border: 1px solid #4b7bdd;
            font-size: 16px !important;
        }
    }

    .modal-content {
        box-shadow: 0 15px 24px 0 rgba(0, 0, 0, .10) !important;
    }

    .modal-header {
        .close {
            opacity: 1 !important;
        }

        .material-icons {
            font-size: 30px;
            color: $brand-color;
            opacity: 1;

            &.call-icon {
                font-size: 16px;
                line-height: 1;
            }
        }
    }

    .close_modal_c {
        z-index: 1060 !important;
    }

    .notification-popup-detail {
        font-size: 14px;
        padding-left: 42px;
    }
}

.step-one-modal,
.step-two-modal {
    button {
        &.close_modal {
            position: absolute;
            right: 4px;
            top: 8px;
            border: 0;
            background: none;
            cursor: pointer;
        }
    }

    .modal-dialog {
        .modal-content {
            box-shadow: 0 15px 24px 0 rgba(0, 0, 0, .10) !important;
        }
    }
}

.step-one-modal.widthbound {
    right: 0px !important;
    width: 550px !important;
    z-index: 1051;
    left: auto;
}

.modal-backdrop.show+.modal-backdrop.show {
    opacity: 1 !important;
}