.modalvideoGenric {
    .modal-dialog {
        max-width: 630px;
    }

    .modal-header {
        .close {
            position: absolute;
            right: 28px;
            top: 20px;
            border: 0;
            background: none;
            cursor: pointer;
            opacity: 1;
            color: #000;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .25rem;
            width: 32px;
            height: 32px;

            &:hover {
                background: rgba(0, 0, 0, .1);
                color: red;
            }
        }
    }
    .modal-body{
        background: url('../images/loader.gif') center no-repeat; background-size: 10%;
    }
    .modal-content{

    }
}

.outside-cross-modal .close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #010;
    font-size: 1.5rem;
    z-index: 1;
    line-height: .8;
    cursor: pointer;

    &:before {
        content: '';
        width: 40px;
        height: 40px;
        z-index: 9;
        top: -5px;
        right: -10px;
        position: absolute;
        background: rgba(0, 0, 0, .2);
        border-radius: 0 0 0 40px;
    }
}