/* Error: Undefined variable.
 *    ,
 * 22 |             background-color:$brand-light-55;
 *    |                              ^^^^^^^^^^^^^^^
 *    '
 *   web-scss\components\_card.scss 22:30     @import
 *   web-scss\pages\change-password.scss 1:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 22 \2502              background-color:$brand-light-55;\d\a    \2502                               ^^^^^^^^^^^^^^^\a    \2575 \a   web-scss\\components\\_card.scss 22:30     @import\a   web-scss\\pages\\change-password.scss 1:9  root stylesheet";
}
