.modal{
    &.default-primary{
        .modal-header{
            background: var(--brand-primary);
            color: var(--primary-text-color);
            .close{
                color: var(--primary-text-color);
                &:hover{
                    color: var(--primary-text-color);
                }
            }
        }

    }
    &.default-success{
        .modal-header{
            background: #c7f2df;
            color: $success;

        }

    }
    &.default-warning{
        .modal-header{
            background: #fbe6b7;
            color: #323232;
        }

    }
    &.default-danger{
        .modal-header{
            background: #faccd9;
            color: $danger;
        }

    }
    &.default-info{
        .modal-header{
            background: #b4d3ff;
            color: $info;
        }

    }
}

.modal.verify-popup{
    .modal-dialog{
        max-width: 550px;
        .form-control{
            font-size: 1.5rem;
        }
    }
}