.common-manager{
  .items-show {
    padding: 2px 5px 0 0;
  }
}
.bluecolor_search {
  .chosen-search:before {
    color: #4b7bdd;
  }
}
.margin-top-2{
  margin-top: 2px;
}

@media screen and (max-width: 767px){

.table-responsive {
    border: none;
}

}