.inline-separator {
    position: relative;
    overflow: visible;
    border-color: #e6e6e6;

    &:before {
        content: attr(data-content);
        position: absolute;
        top: -11px;
        background: #fff;
        z-index: 1;
        left: calc(50% - 20px);
        width: 20px;
        padding: 0 10px;
        color: #d9d9d9;
    }

}

.app-download {

    &-dropdown {
        &-img {
            min-height: 30px;
        }
    }

    &-button {
        max-width: 190px;
        margin: 8px 15px 6px 0;
        padding: 0;
        border: 0;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        }
    }

    &-menu {
        padding: 1.5rem 2.5rem;
        min-width: 290px;
        text-align: center;
    }

    &-qr {
        margin-top: 5px;
    }

}

.app-download-mob{
    @media only screen and (min-width: 767px){
        display: none;
    }
}