/* Breadcrups CSS */
.arrow-steps{
	clear: both;
    display: inline-block;
}
.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: #111;
	cursor: default;
	margin: 0 3px;
	padding:7px 10px 7px 30px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color:rgba(75, 123, 221, 0.2);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  transition: background-color 0.2s ease;
}
.arrow-steps .step.next {
	background-color:#eee;
}
.arrow-steps .step.next:after{border-left-color:#eee;}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid rgba(75, 123, 221, 0.2);;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.arrow-steps .step:last-child {
    border-radius: 0 20px 20px 0;
    padding-right: 30px;
}

.arrow-steps .step:last-child:after{
	display:none;
}

.arrow-steps .step span {
	position: relative;
	counter-reset: step;
}

.arrow-steps .step span:before{
    width: 22px;
    height: 22px;
    content: attr(data-counter);
    line-height: 19px;
    border: 2px solid #7d7d7d;
    display: inline-block;
    text-align:center;
    margin:0 auto;
    border-radius:50%;
    background-color:white;
    color:#111;
    margin-right:5px;
}

.arrow-steps .step.current {
	color: #fff;
	background-color:#4b7bdd;
}

.arrow-steps .step.current:after {
	border-left:17px solid #4b7bdd;	
}