.callout { 
    padding:$two*5;
    margin: $two*10 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    @include border-radius($two+1);
    h6 {
      margin-top: 0;
      margin-bottom: $two*2+1;
      font-weight:400;
    }
    p:last-child {
      margin-bottom: 0;
    }
    code {
      border-radius: $two+1;
    }
    & + .bs-callout {
      margin-top: -$two*2+1;
    }
  }
  @each $name,$color in (default,#777),(primary,#428bca),(success,#5cb85c),(danger,#d9534f),(warning,#f0ad4e),(info,#5bc0de), (bdc,#29527a) {
    .callout-#{$name} {
      border-left-color: $base-color;
      h4 {
        color: $base-color;
      }
    }
  }