.stv-radio-tabs-wrapper {
  clear: both;
  display: inline-block;
  width: 100%;
  border-bottom:4px solid #75b740;
  padding: 0 10px;
  position: relative;
}
input.stv-radio-tab, 
input.enable_custom_tag {
  position: absolute;
  left: -99999em;
  top: -99999em;
  display:none;
}
input.stv-radio-tab + label {
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: 0;
    background-color: #fff;
    margin-bottom: 0;
    padding: .2em 0.5em .2em 0.5em;
    position: relative;
    border-radius: 4px 4px 0 0;
    color: #999;
    margin-top:2px;
	font-weight:400;
}
/*input.stv-radio-tab + label:before{
	content:'';
	position:absolute;
	border:1px solid #aaa;
	width:11px;
	height:11px;
	border-radius:50%;
	left:13px;
	top:13px;
}*/
input.stv-radio-tab + label:hover{
	background-color: #eee;
}
input.stv-radio-tab:checked + label{
	border-color:#75b740;
	z-index:1;
	color:#111;
	font-weight:500;
	border-top-width:3px;
	margin-top:0;
}
/*input.stv-radio-tab + label:after{
	content:'';
	position:absolute;
	width:5px;
	height:5px;
	left:16px;
	top:16px;
	background-color:#fff;
	border-radius:50%;
}
input.stv-radio-tab:checked + label:after{
	background-color:#111;
}*/

.tab_design{
	&.nav-style-2{
		> li{
			margin-right:10px;
		}
	}
}