.nopreviewavl {
  height: 100%;
  border-radius: 5px;
  display: flex;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  min-width: 100%;
  min-height:165px;
  justify-content: center;

   @media(min-width:1920px){
      &.nopreviewavl{
        min-height:260px;
      }
    }
  .innerhtml{
    padding:15px;
    h4{
      font-size:14px;
    }
    p{
      line-height: 14px;
      font-size: 12px;
      color: #333;
    }
  }
}

.basicPredefined,.predefined,.allTemp{
  .tag:hover a.remove{
    display:none!important;
  }
}


.search_withicon{
    position: relative;
    input{
      border:0;
      padding:0 0 3px 20px;
      width:100%;
      border-bottom:1px solid #ddd;
      &:focus{
        border-color: #4b7bdd;
      }
    }
    &:after {
      content: "\f002";
      font-family: FontAwesome;
      color: #aaa;
      position: absolute;
      left: 0;
      top:0;
    }
  }

  .model_back{
    background-color:#fff;
    float:left;
    width:100%;
    padding:2em 2em;
    border-radius:4px;
    position:relative; 
    height:90%; 
    height:85vh;
}
.prv_img {
    width: 100%;
    float: left;

    img{
        width:100%;
    }
}

.rbox{
    display: block;
    position: relative;
    padding-left:25px;
    margin-bottom:5px;
    text-transform:inherit;
    font-weight:normal;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark {
            border: 1px solid #4b7bdd;

            &:after {
                display: block;
            }
        }
    }
    &:hover input ~ .checkmark {
        border-color:#4b7bdd;
    }
}

#emailPreviewPopup{
    .close{
        position:absolute;
        top:8px;
        right:14px;
        z-index:1;
        font-size:24px; 
        font-weight:bold; 
        opacity:.6; 
        color:#000; 
        width:32px; 
        height:32px; 
        border-radius:50%; 

        &:hover{
            opacity:1; 
            color:#ff0000; 
            background:rgba(0,0,0,.07);
        }
    }
    .modal-dialog{
        margin-top:35px;
        margin-top:5vh;
        left:20px!important;
    }
    iframe{
      border:0;
      outline:none;
      height:calc(100vh - 190px);
    }
    .mediaView iframe {
      border-radius: 20px;
      border: 20px solid #eceff1 !important;
    }
}

.nav-pills-custom{
    padding:5px;
    list-style:none;
    vertical-align:middle;
    background:#eceff1;
    border-radius:4px;
    margin-right:20px;

    a{
        padding:15px;
        text-align:center;
        color:#666;
        display: block;
        border-radius:4px;
        text-transform:capitalize; 
        margin-bottom:5px;
        &:last-child{
            margin-bottom:0;
        }
        &:hover{
            background:#eee;
        }
        &:hover, &:focus{
            text-decoration: none;
        }
        &.active, &.active:hover{
            background:#4e7add;
            color:#fff;
        }
    }
}

.cat_template,.all_template{
  .rowSpaceReduce10{
      &>[class*='col-'] {
          &:nth-child(9){
              display:none;
          }
          
      }
  }
  &.show{
      .rowSpaceReduce10{
          &>[class*='col-'] {
              &:nth-child(9){
                  display:block;
              }
          }
      }
  }
}

.all_template{
  .rowSpaceReduce10{
      &>[class*='col-'] {
          &:nth-child(9){
              display:none;
          }
          &:nth-child(10){
              display:none;
          }
      }
  }
  &.show{
      .rowSpaceReduce10{
          &>[class*='col-'] {
              &:nth-child(9){
                  display:block;
              } 
              &:nth-child(10){
                  display:block;
              }   
          }
      }
  }
}

.communications_chooselayout{
  .main-footer{display:none;}
  &.modal-open{
    overflow:hidden!important;
  }
  &.modal-dialog{
      left:20px;
  }

  .rowSpaceReduce0{
      margin-left:0px;
      margin-right:0px;
    
    &>[class*='col-'] {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  .rowSpaceReduce10{
    margin-left:-10px;
    margin-right:-10px;

    &>[class*='col-'] {
      padding-right: 10px;
      padding-left: 10px;
    }
  }


  .rbox {
    input[type="radio"]+span{
        padding-left:10px;
    }
    input[type="radio"]:checked+span{
        color:#4b7bdd;
    }
  }

  #codeyrown{
    font-weight:500;
    i.fa{
        font-size:1.5rem;
        font-weight:500;
    }
  }

  .spaces{
    background:#edeef0;

    .templateArea{
      height: calc(100vh - 120px);
      background:#f5f6f8;
      overflow:auto;
      @media(max-width:767px){
        &.templateArea{
          height:100%;
          overflow:visible;
        }
      }
    }
    .left-panel-main{
      background:#edeef0;
    }

    .leftpane{
      position:sticky;
      top:50px;
    }

    .rightpane{
      padding:20px;
      min-height:100%;
      background-color:#f5f6f8;
    }
    
  }

  .panel-group{
    .panel{
        border-bottom:1px solid #dadada!important; 
        border-top:0;
        .panel-heading{
            position: relative;
            background-color:#edeef0;
            .badge{
                position:absolute;
                right:28px;
                top:14px;
                background:#929292;
                padding:2px 5px!important;
                font-weight: 500;
                font-size: 11px;
            }
            a{
                text-decoration:none;
                display: block;
                text-transform:capitalize;
                font-weight:500;
                color:#606060;
                
                &[aria-expanded="true"]{
                color:#111; 
                background:rgba(138, 138, 138, 0.2);
                    &:after{
                        -webkit-transform: rotate(-90deg);  
                        -moz-transform:rotate(-90deg); 
                        -ms-transform:rotate(-90deg); 
                        -o-transform:rotate(-90deg); 
                        transform:rotate(-90deg);
                    }
                }
                &[data-toggle="collapse"]:after{
                    font-family:FontAwesome;
                    content:"\f107";
                    top: calc(50% - 10px);
                    position: absolute;
                    color:#424242;
                    font-size: 18px;
                    line-height: 22px;
                    right:10px;
                }
                
                .ellipsistext{
                    white-space:nowrap; 
                    overflow:hidden; 
                    text-overflow:ellipsis;
                    display:block;
                    width:calc(100% - 18px);
                }
                &:hover{
                    background:rgba(138, 138, 138, 0.2);
                }
                &.no_arrow:after{display:none;}
            }
        } 
        .panel-title{
            padding:0px;
        }
        &+.panel{
            margin:0;
        }
        .panel-body{
            padding: 5px 5px;
            margin: 5px 0;
            border: 0!important;
            .taglist{
                max-height: 220px;
                overflow: auto;
                width: calc(100% - 5px);
            }
        }
    }
  } 

  @media (min-width: 993px){
    #content {
        padding: 60px 20px 15px;
    }
    .dflex{
        display:flex;
    }
  }
  .templateemailthumb{
      margin-bottom:20px;
      &.hover-effect{
        opacity:.2;
      }
      .norelvent_search{
        margin:0;
      }

      .blankbox{
        border-radius: 10px;
        box-shadow: 0 0px 0 1px #ddd;
        overflow: hidden;

        a.tmp-img{
          padding: 42.4% 0;
          display: block;
          background: #fff;
          overflow: hidden;
          height: auto;
          color:#333;
          text-align:center;
          &:before{
            display: none;
          }
          &:hover,&:focus{
            text-decoration: none;
            color: #4b7bdd;
            border:0;
            z-index:0;
          }
          .blank_add{
            font-size:16px;
            i{
              font-size:30px;
            }
          }
        }
      }
    .tmp-img{
      height: 0;
      padding-bottom: 75%;
      display: inline-block;
      overflow: hidden;
      z-index: 0;
      position: relative;
      border-radius:10px 10px 0 0;
      box-shadow: 0 0 0 1px #ddd;
      width: 100%;
      background: #f5f5f5;
      vertical-align: top;
      margin-bottom: -5px;


      &:before {
      content: "";
      width: 105%;
      height: 100%;
      position: absolute;
      left: -1%;
      right: -1%;
      bottom: 4px;
      margin-bottom: -1px;
      z-index: 2;
      background: url(../../../img/wave-line-black-white.svg) 100% 100% no-repeat;
      background-size: 100%;
      }

      button{
        border:0;
        outline:0;
        padding:0;
        margin:0;
      }

      .overlay{
        width: 100%;
        height: 38px;
        position: absolute;
        overflow: hidden;
        border-radius: 10px;
    
        &:after{
          background-color:rgba(0,0,0,.9);
        }
      }


      .overlaybtn{
        width: 100%;
        height: 38px;
        bottom:-40px;
        position: absolute;
        overflow: hidden;
        border-radius: 10px;
        text-align:center;
        opacity:0;
      }


      .pbtn{
        background: rgba(0,0,0,.5);
        padding: 5px 3px 5px;
        position: absolute;
        transition: all .2s ease-in-out;
        width: 70%;
        left: 15%;
        border-radius: 0 0 10px 10px;
        z-index: 2;
        margin-top: -40px;
        color: #fff;
        border:0;
      }

      & .email_gallery,.nopreviewavl{
        max-width: 100%;
        height: auto;
        cursor: pointer;
        overflow:hidden;
        position: relative;
        text-align:center;
      }
      &:hover{
        overflow: visible;
        z-index: 101;
        position: relative;

        .overlay .pbtn{
          margin-top:0!important;
          transition-delay:.4s;
        }
        .overlaybtn{
          bottom: 0;
          transition: .3s;
          opacity: 1;
          transition-delay: .4s;
        }

        &::before{
          display:none;
        }
    
        .email_gallery,.nopreviewavl{
          box-shadow: 0px 0px 6px #31cb4b;
          border-radius:10px;
          border:1px solid #31cb4b;
        }
      }
    }

    .info_bar{
      box-shadow: 0 1px 0 1px #ddd;
      border-radius: 0 0 10px 10px;
      background-color: #fff;
      position: relative;
      padding:10px;

      .toggletag{
        display:inline-block;
        position:relative;
        z-index: 99;
        margin:5px 5px 0 0;
        a.basicTemplateTag{
          text-decoration:none;
          color:#999;
          font-size:20px;
          &:hover,&:focus{
            color:#4b7bdd;
          }
        }
      }
      .btn{
        font-weight:500;
      }
    }
  }
}

.btn-small{
  padding: 2px 10px;;
}