.roundselect{
    &+.chosen-container{
        .chosen-single{
            @include border-radius($two*10);
            padding:$z $two*7+1;
        }
        .chosen-drop{
            margin-top:$two*2+1; 
            border-top:$two/2 solid #ddd;
        }
    } 
}


.muted{
    color:lighten($black-color,70%);
}

.mute{
    color:lighten($black-color,50%);
}

.btn-npf,.applyBtn {
    background-color:$base-color;
    border-color:$base-color;

    &:hover{
        background-color:$base-color;
        border-color:$base-color;
    }
}

.h100{
    height:100%;
}

.w100{
    width:100%;
}

.absoluteBottom{
    position:sticky; 
    top:calc(100% - 15px); 
    width:calc(100% - 0px); 
    margin-bottom:$z;

    .btn{
        min-width:$two*50; 
        padding:$two*4 $two*7+1; 
        font-weight:500;
    }
}


.fw300{
    font-weight:$fw300;
}

.fw500{
    font-weight:$fw500;
}

.fw700{
    font-weight:$fw700;
}

.fw900{
    font-weight:$fw900;
}


.form-control{
    height:30px;
    &:focus{
        outline:1px solid $base-color;
    }
}


.nolist{
    list-style:none;
    margin: $z;
    padding:$two*5;

    li{
        span{display:inline-block; margin-right:$two*7+1;
            .toggle__checkbox label{top:0}
        &+span{margin-right:0; line-height:$two*10; text-transform:capitalize;}
    }

    }
}

.toggle__checkbox{
    input:checked+label,  input.checked+label{background:$base-color;}
}

.mt0{margin-top:0!important;}

.newStyleUi {
    button:focus{
        background-color: #4b7bdd;
        color: #fff;
        border-color: #4b7bdd;
    }
}

.topSearch {
    input{outline:0!important;}
}


.publisherLoader {
    background:rgba(255,255,255,.9) url("../../../img/charts-loader-2x.gif") no-repeat center center!important;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
}

.SumoSelect>.optWrapper.multiple>.options li.opt.selected span i{
    background-color:$base-color;
}