.labelForText{
	position: relative;
    padding-left:20px;
	.checkbox{
		position: absolute;
		left: 0;
		top: 1px;
		margin: 0;
	}
}
.hasArrow{
	a[data-toggle="collapse"]{
		&:before{
			font-family: 'FontAwesome';
		    content: "\f107";
			font-size: 2rem;
			line-height: 14px;
		    float: right;
		    transition: all 0.5s;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		&.collapsed{
			&:before{
			   -webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				transform: rotate(0deg);
			}
		}
	}
}

.checkall{
    border-bottom: 1px solid #eee;
}