.data-tables-filters{
    font-size: 13px;
    .record-count{
        margin-top:5px;
    }
	.chosen-container-single{
		.chosen-single{
			line-height: 32px;
			padding: 0 0 0 8px;
			border-color:#ccc;
		}
	}
}