.floatify{
    margin:$two*10 $z;
    .floatify__input,&[readonly="readonly"]{
    border:0;
    border-bottom:1px solid lighten($black-color,80%); 
    border-radius:$z!important; 
    outline:none;
    padding:$two*5 $z!important;
    background:transparent;
    }

    .floatify__label{
        display:none; 
        transition:1s all; 
        opacity:1!important; 
        visibility:visible!important;
        padding:0!important;
    }


    .chosen-container-single .chosen-single{
        border:0;
        border-bottom:1px solid lighten($black-color,80%); 
        border-radius:$z!important; 
        padding-left:0;
    }


    .SumoSelect{
        &>.CaptionCont{
            border:0;
            border-bottom:1px solid lighten($black-color ,80%);
            @include border-radius($z);
            box-shadow:none!important;
            padding:$two*4  $z;
        }
        &.open{
            &:after{
                content:'\f002';
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                position:absolute;
                right:$two*2+1;
                top:$two*5+1;
                color:$base-color;
            }
            input{padding-right:$two*5;}
        }
    }


    &.floatify__active{
        .floatify__label{
            display:block;
            color:$base-color;
            left:$z;
        }

        .floatify__input{
            border-bottom:1px solid $base-color!important;
        }

        .SumoSelect{
            &>.CaptionCont{
                border:0;
                border-bottom:1px solid $base-color;
            }
        }
    
        .chosen-container-single .chosen-single{
           border-color:$base-color;
        }
    }
}