// -----------------------------------------------------------------------------
// This file contains all styles related to the navbar component.
// -----------------------------------------------------------------------------

.navbar {
	&.navbar-custom{
		background-color: $brand-color;
		border-radius: 0;
		margin-bottom: 0;
		border:none;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	}
}

.navbar-right{
    float: right;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-nav >li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default .navbar-nav > li > a {
    color: #272E34;
    font-size: 20px;
    padding: 5px 15px;
}
