.steps{
	display:inline-block;
	text-align:center;
	list-style:none;
	width:96%;
	padding:30px 0;
	position:relative;
	&:before{
		position:absolute;
		border-top:2px dashed $brand-color;
		content:'';
		width:100%;
		top:60px;
		left:0;
	}
	.step{
		display:inline-block;
		width:25%;
		vertical-align:top;
		position:relative;
		z-index:1;
		&.first{
			&:after{
				position:absolute;
				content:'';
				border-top:2px solid #fff;
				width:50%;
				top:30px;
				left:0;
				z-index: 1;
			}
		}
		&.last{
			&:after{
				content:'';
				position:absolute;
				border-top:2px solid #fff;
				top:30px;
				left:50%;
				width:50%;
				z-index: 1;
			}
		}
		strong{
			display: block;
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
		}
	}
	.stepIcon{
		display:inline-block;
		background-color:#f2f2f2;
		border-radius:50%;
		padding:8px 0;
		font-size:2em;
		border:1px solid $brand-color;
		min-width:65px;
		min-height:60px;
		margin-bottom:5px;
		position: relative;
		z-index: 11;
		color:$brand-color;
	}
}
		



