@mixin rotate($rotate) {
  transform: rotate($rotate) !important;
  -webkit-transform: rotate($rotate) !important;
  -moz-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
}

@mixin transition-ease($transition, $time) {
  transition:   $transition $time  ease;
  -webkit-transition:  $transition $time ease;
  -moz-transition:  $transition $time ease;
  -ms-transition:  $transition $time ease;
  -o-transition:  $transition $time ease;
}

@mixin grid($grid-col, $row-gap, $col-gap) {
  display: grid;
  row-gap: $row-gap;
  column-gap: $col-gap;
  grid-template-columns: repeat($grid-col, minmax(0, 1fr));
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

