.header-top{
	box-shadow:0 2px 6px #eee;
	background-color:#fff;
	position:relative;
	z-index:111;
	position:fixed;
	width:100%;
	z-index:111;
	top:0; 
	height:55px;
	margin-right:5px;
	@include transition(all 0.5s);
	&.off-canvas {
		top: -89px;
	}
	&.fixed {
		top:0;
	}
	.navbar{
		background-color:transparent;
		box-shadow:none;
	}
}

.navbar{
	margin-bottom:0;
	border:none;
}
.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand{
	 margin-left: 0;
}
.navbar-brand{
    height: auto;
    padding:5px 0;
	width:60%;
	img{
		height:45px;
		max-width:100%;
	}
}

.navbar-toggle .icon-bar{background-color:#111;}
