/// Main brand color
/// @type Color
$brand-color: #4c79dc !default;
$primary: $brand-color;

/// @white Color
$white-color: rgb(255, 255, 255) !default;
$sidebar-color: #2f353a;
$font-size-base: 1rem !default;
$font-size-exlg: ($font-size-base * 1.5) !default;
$color-black:rgba(0,0,0,.87);
$color-white: #fff;
$color-grey:#5f6368;
$heading-color:#5c5b7e;
$color-primary : #4c79dc;
$border-color:#e2e1e6;
$border-color-enable:#cccccc;
$border-color-disable:#e2e1e6;
$zero: 0;
$two: 2;

$black : #000;
$table-hover-bg : rgba($black, .04);

$theme-colors: (
  "light-warning": #fbe6b7,
  "light-success": #c7f2df,
  "light-danger": #faccd9,
  "light-info": #d4dff7,
  "tertiary": #EC808D, // Level colors
  "quaternary": #FACD91,
  "quinary": #FFFF80,
  "senary": #CAF982,
  "septenary": #80FFFF,
  "octonary": #81D3F8,
  "nonary": #8080FF,
  "denary": #C280FF,
  "eleventh": #F3B057,
  "twelfth": #63B2FF,
  "thirteenth": #C3D5FF,
  "fourteenth": #98C5FF,
  "fifteenth": #DBB3D4,
  "sixteenth": #E5D392,
  "seventeenth": #C48D81,
  "eighteenth": #E7D9A3,
  "nineteenth": #C4C6C6,
  "twentieth": #F2C080,
  "twentifirst": #DDCBB2,
  "duodenary": #EC7E74,
);


$modal-xlg : 1100px;
$modal-llg : 950px;
$modal-lg : 800px;
$modal-md : 550px;
$modal-sm : 350px;