@mixin bg-color($primary: #4c79dc) {
  background-color: $primary;
}

@mixin text-color($primary: #4c79dc) {
  color: $primary;
}

@mixin border-color($primary: #4c79dc) {
  border-color: $primary;
}

.callout-alert {
  @include bg-color();
  @include text-color(#fff);
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.5rem;

  .callout-icon {
    padding: 0.25rem;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 100%;
  }

  .callout-msg {
    @include text-color(#fff);
  }

  &.full-rounded {
    padding: 0;
    border-radius: 25px;

    .callout-icon {
      margin-left: 1rem;
    }

    .callout-msg {
      padding: 5px 15px 5px 0;
    }
  }

  &.bordered {
    background: transparent;
    border-radius: 0;
    box-shadow: 0 0 10px rga(0, 0, 0, 0.125);
    border: 4px solid;
    @include border-color();
    border-width: 1px 1px 1px 4px;

    .callout-icon {
      @include text-color();
    }

    .callout-msg {
      color: #323232;
    }
  }

  &.icon-filled {
    padding: 0;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);

    .callout-icon {
      @include text-color(#fff);
      padding-left: 1rem;
    }

    .callout-msg {
      width: 100%;
      @include bg-color(#fff);
      @include text-color(#111);
      border: 1px solid;
      @include border-color();
      padding: 6px 10px;
      font-size: 90%;
    }
  }

  &.error {
    @include bg-color(#ec7371);

    &.rounded {
      @include border-color(#ec7371);

      .callout-icon {
        @include text-color(#ec7371);
      }
    }

    &.icon-filled {
      .callout-msg {
        width: 100%;
        @include text-color(#ec7371);
        @include border-color(#ec7371);
      }
    }

    &.bordered {
      @include bg-color(#fef6f6);
      @include text-color(#000);
      @include border-color(#ec7371);
    }
  }

  &.success {
    @include bg-color(#49d496);

    &.rounded {
      @include border-color(#49d496);

      .callout-icon {
        @include text-color(#49d496);
      }
    }

    &.icon-filled {
      .callout-msg {
        width: 100%;
        @include text-color(#49d496);
        @include border-color(#49d496);
      }
    }
  }

  &.warning {
    @include bg-color(#f7cf78);

    &.rounded {
      @include border-color(#f7cf78);

      .callout-icon {
        @include text-color(#f7cf78);
      }
    }

    &.icon-filled {
      .callout-msg {
        width: 100%;
        @include text-color(#f7cf78);
        @include border-color(#f7cf78);
      }
    }
  }


  &.danger {
    @include bg-color(#fff);
    border: 1px solid #ccc;
    border-left: 3px solid #ec7371;

    &.rounded {
      .callout-icon {
        @include text-color(#ec7371);
        align-self: self-start;
      }
    }

    &.icon-filled {
      .callout-msg {
        width: 100%;
        @include text-color(#333);
        @include border-color(#ec7371);

      }
    }

    .callout-msg {
      line-height: 16px;
      color: #666;
    }
  }
}