.chat-wrapper {
  height: calc(100vh - 149px);

  @media only screen and (max-width: 767px) {
    height: calc(100vh - 245px);
  }

  &.ticket-closed {
    height: calc(100vh - 90px);

    @media only screen and (max-width: 767px) {
      height: calc(100vh - 354px);
    }

    .chat-container {
      height: calc(100vh - 95px);

      @media only screen and (max-width: 767px) {
        height: calc(100vh - 206px);
      }
    }
  }

  .chat-resize {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;

    .resize-btn {
      position: absolute;
      top: -23px;
      z-index: -1;
      background: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, .05);
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        color: #666;
        transition: all 1s;
      }
      &.toggle span{
        transform: rotate(180deg);
      }
    }
  }
}

.chat-container {
  width: 100%;
  max-width: 800px;
  height: calc(100vh - 396px);
  min-height: 100%;
  margin: 0 auto;
  overflow-y: auto;
  transition: all 1s;

  @media only screen and (max-width: 767px) {
    height: calc(100vh - 500px);
  }

  ul {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;

    li {
      width: 80%;
      margin-bottom: 15px;
      position: relative;

      .msg {
        padding: 10px;
        border-radius: 5px;
        background: #fff;
        color: #111;
        font-size: 85%;
        overflow-x: auto;
        max-width: 440px;

        p {
          font-size: 100%;
          margin-bottom: 5px;
          word-break: break-word;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &:before {
          content: "\f0d9";
          font: normal normal normal 14px/1 FontAwesome;
          position: absolute;
          font-size: 18px;
          color: #fff;
          top: 0;
          left: 23px;
        }

        +.msg {
          margin-top: 8px;
        }
      }

      .sender-info {
        width: 20px;
        height: 20px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.sent-msg {
        margin-left: auto;

        .msg {
          background: #cde1fc;

          &:before {
            color: #cde1fc;
          }
        }

        .msg:before {
          content: "\f0da";
          right: 22px;
          left: auto;
          top: 0;
        }
      }
    }
  }

  .ticket-status {
    text-align: center;
    border-bottom: 1px solid #f1f1f1;

    span {
      background: #f8f9fa;
      top: -12px;
      padding: 0 10px;
      // box-shadow: 0 0 .2rem rgba(0,0,0,0.125);
    }
  }
  &.reduce-height{
    height: calc(100vh - 500px);
  }
}

.chat-area {
  z-index: 1;
  cursor: pointer;

  .cke_chrome {
    border-left: none !important;
  }

  label {
    cursor: pointer;
  }

  .chat-file {
//     top: -24px;
//     box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05);
    bottom: 0;
    background: #fff;
    cursor: default;

    i {
      font-size: 16px;
    }
  }

  textarea {
    resize: none;
    border: 1px solid #f5f5f5;
    min-width: 75%;
  }

  .send-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cke_reset.cke_contents{
    transition: all 1s;
  }
  &.extend-height{
    .cke_reset.cke_contents{
      height: 215px !important;
      max-height: 215px !important;
    }
  }
}

.action-links {
  .dropdown-toggle:after {
    content: none;
  }

  .dropdown-toggle .material-icons-outlined {
    line-height: 0.95;
  }

  .dropdown-menu {
    ul li {
      list-style-type: none;
    }
  }
}