.fixed-scoring-field .dropdown.bootstrap-select .dropdown-menu li:last-child {
  position: sticky !important;
  bottom: 0;
  background: #fff;
  color: #2b78e4;
  margin: 0;
  padding: 5px 0 0;
  opacity: 1;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);

  a {
    display: flex;
    width: 100%;
    color: #3780e5 !important;

    &:before {
      content: "+";
      margin-right: 5px;
      background: #2b78e4;
      padding: 0;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }

  &:hover,
  &:active,
  &:focus {
    background: #fff !important;
  }
}