.graphbox {
  position: relative;
  min-height: 150px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 30px 0 10px;
  margin: 0 120px 40px 40px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    color: #ccc;
    font: normal normal normal 14px/1 FontAwesome;
  }

  &:before {
    content: '\f0d8';
    left: -4px;
    top: -8px;
  }

  &:after {
    content: '\f0da';
    right: -4px;
    bottom: -7px;
  }

  .axis-names {
    &:before {
      content: attr(data-axis-x);
      position: absolute;
      left: -55px;
      top: 45%;
      @include rotate(270);
    }

    &:after {
      content: attr(data-axis-y);
      position: absolute;
      bottom: -35px;
      left: 45%;
    }
  }

  .axis-points:before,
  .axis-points:after {
    content: '';
    position: absolute;
  }

  .axis-points:before {
    bottom: -15px;
    height: 15px;
    width: 1px;
    left: -1px;
    background-color: #ccc;
  }

  .axis-points:after {
    bottom: -1px;
    width: 15px;
    height: 1px;
    left: -15px;
    background-color: #ccc;
  }

  .graph-bar {
    position: relative;
    min-height: 40px;
    margin-bottom: 25px;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    &:before {
      content: '';
      position: absolute;
      margin-left: auto;
      height: 100%;
      right: 0;
      background: #fff;
      animation: ease-in-out example 4s;
    }

    &:after {
      content: attr(data-title);
      position: absolute;
      right: -100px;
      font-weight: normal;
      animation: ease-in visible 4s;
    }
  }
}

@keyframes example {
  from {
    width: 100%;
    opacity: .5;
  }

  to {
    width: 0;
    opacity: 1;
  }
}

@keyframes visible {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}