.badge-notify {
    right: 2px;
}

.navbar-right {
    height: 100%;

    li {
        line-height: 1;
        height: 100%;
        padding: 9px 4px;
    }

    .seprator-right {
        border-right: 1px solid #eee !important;
    }

    button {
        border-radius: 50%;
        outline: none;
        border: none;
        background-color: transparent;

        i {
            font-size: 23px;
            color: #5f6368;
            padding: 6px;
            border-radius: 50%;
            line-height: 1.3;
            cursor: pointer;

            &:hover {
                background-color: rgba(36, 93, 136, .08);
            }

            &.call-noti:hover {
                background-color: rgba(36, 93, 136, .23);
            }

            &.icon-active {
                transition: all .3s ease-in-out;
                background-color: rgba(36, 93, 136, .08);
            }
        }
    }
}

.pr-3,
.px-3 {
    padding-right: 1rem !important;
}