.nameInitials {
    .btn-ni {
        padding: 7px;
        min-width: 31px;

        &:after {
            display: none;
        }
    }

    .dropdown-menu-right {
        left: auto;
        right: 8px !important;
    }

    .dropdown-menu {
        a {
            &:hover {
                color: $black-color !important;
            }
        }
    }

    .niVal {
        font-size: 1.2rem;
        background-color: #1a73e8;
        color: #fff;
        padding: 12px 10px;
        font-weight: 500;
        min-width:46.58px;
        display: block;
        text-align: center;
    }

    .userInfo {
        font-size: 0.85rem;
    }

    .useremail {
        color: $light-grey-100;
    }

    .btn-outline-secondary {
        &:hover {
            color: rgba(0, 0, 0, .87) !important;
        }
    }
}


@include media("<tablet") {
    .nameInitials {
        .btn.btn-primary {
            box-shadow: 0 2px 2px 0 rgba(76, 121, 220, .14), 0 3px 1px -2px rgba(76, 121, 220, .20), 0 1px 5px 0 rgba(76, 121, 220, .12);
            border: 1px solid $white-color;
        }

        .dropdown-menu {
            position: absolute;
            float: none;

        }
    }

    .btn-primary:not(:disabled):not(.disabled):active {
        border-color: $white-color;
    }

    .btn.btn-primary:active:hover,
    .show>.btn.btn-primary.dropdown-toggle:hover {
        border-color: $white-color;
    }

    .nameInitials .btn-ni {
        padding: 6px;
    }

}