.add-elements li.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  word-break: break-all;
  white-space: normal;
  min-height: 100px;
  font-size: 85%;
  text-align: center;
  .btn{
    background: transparent;
    color: $primary;
    border-bottom: 1px solid $primary;
    border-radius: 0 !important;
    padding-bottom: 0;
  }
}