table {
    th.sorting,.md-sorting,.sorting{
        position: relative;
        cursor: pointer;

        &:after {
            font-family: 'lineicon';
            margin-left: 5px;
            color: #808080;
            content: '\e979';
            font-size: .7rem;
        }

        &.sorting_asc:after,&.md-sorting_asc:after {
            color: #4c79dc;
            content: '\e97b';
        }

        &.sorting_desc:after,&.md-sorting_desc:after{
            color: #4c79dc;
            content: '\e97a';
        }
    }
}