.tag-condition-label+.tag-condition-label {
  margin-top: 60px !important;

  &:before {
    content: 'OR';
    position: absolute;
    top: -45px;
    background: #999;
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 80%;
    z-index: 1;
    left: 0;
  }
  &.andContent{
    &:before{
      content: 'AND'!important;
    }
  }
  &:after{
    content: '';
    position: absolute;
    top: -60px;
    width: 1px;
    height: 60px;
    background: #ccc;
    z-index: 0;
  }
}