.toast {
    width: 350px;
    max-width: 100%;
    font-size: .875rem;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border-radius: .25rem;
    text-align: center;
    margin: 0 auto;
    &.hide{
        display: none;
    }
    &:not(.showing),
    &:not(.show) {
        opacity: 0;
    }
    .toast-container {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        max-width: 100%;
        pointer-events: none;
    }

    .toast-container>:not(:last-child) {
        margin-bottom: .75rem;
    }
    .toast-header {
        display: flex;
        align-items: center;
        padding: .5rem .75rem;
        color: #6c757d;
        background-color: rgba(255, 255, 255, .85);
        background-clip: padding-box;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        .btn-close {
            margin-right: -.375rem;
            margin-left: .75rem
        }
    }
    .toast-body {
        padding: .75rem;
        word-wrap: break-word;
    }
}
