* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#notfound {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.notfound {
	width: 100%;
	line-height: 1.4;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 15px;
	max-width: 768px;
	background-color: rgba(255, 255, 255, 0.75);
	margin:0 15px;
}

.notfound .notfound-error h1 {
	color: #999;
	font-weight: 900;
	font-size: 150px;
	line-height: 120px;
	margin: 0;
}

.notfound h2 {
	font-size: 25px;
	color: #999;
	font-weight: 400;
	margin: 0px
}

.notfound p {
	font-size: 16px;
	color: #333;
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 30px;
	line-height:1.5;
}

.notfound a {
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 8px 20px;
	border: 1px solid #28a745;
	border-radius: 5px;
	color: #28a745;
	font-weight: 400;
	-webkit-transition: 0.2s all;
	transition: 0.2s all
}

.notfound a:hover {
	background-color: #28a745;
	color: #fff
}

@media only screen and (max-width: 480px) {
	.notfound .notfound-error h1 {
		font-size: 162px
	}
	.notfound h2 {
		font-size: 26px
	}
}

@media (min-width: 769px){
	body{
		background-color: #f2f2f2;
		overflow: hidden;
	}

	.content{
		order:2
	}
	.errorimage{
		min-width:360px;
		visibility: visible;
		order:1
	}

	.imageRocket{
		position: absolute;
		right: 0;
		bottom: 0;
		max-width: 320px;
		display: block !important;
	}

	.notfound {
		border: 1px solid #eee;
		box-shadow: 0 0 5px #ddd;
	}

/* Cloud CSS */
.cloud {
	width: 350px;
	height: 120px;
	background: #FFF;
	background: linear-gradient(top, #FFF 100%);
	background: -webkit-linear-gradient(top, #FFF 100%);
	background: -moz-linear-gradient(top, #FFF 100%);
	background: -ms-linear-gradient(top, #FFF 100%);
	background: -o-linear-gradient(top, #FFF 100%);
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	position: absolute;
	margin: 120px auto 20px;
	z-index:-1;
	transition: ease 1s;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #FFF;
	z-index: -1
}

.cloud:after {
	width: 100px;
	height: 100px;
	top: -50px;
	left: 50px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud:before {
	width: 180px;
	height: 180px;
	top: -90px;
	right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.x1 {
	top:-50px;
	left:100px;
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
	opacity: 0.9;
	-webkit-animation: moveclouds 30s linear infinite;
	-moz-animation: moveclouds 30s linear infinite;
	-o-animation: moveclouds 30s linear infinite;
}

.x1_5{
	top:-80px;
	left:250px;
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
	-webkit-animation: moveclouds 34s linear infinite;
	-moz-animation: moveclouds 34s linear infinite;
	-o-animation: moveclouds 34s linear infinite;
}
.x2 {
	left: 250px;
	top:30px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6;
	-webkit-animation: moveclouds 50s linear infinite;
	-moz-animation: moveclouds 50s linear infinite;
	-o-animation: moveclouds 50s linear infinite;
}

.x3 {
	left: 250px;
	bottom: -70px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.8;
	-webkit-animation: moveclouds 50s linear infinite;
	-moz-animation: moveclouds 50s linear infinite;
	-o-animation: moveclouds 50s linear infinite;
}

.x4 {
	left: 470px;
	bottom: 20px;
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75;
	-webkit-animation: moveclouds 36s linear infinite;
	-moz-animation: moveclouds 36s linear infinite;
	-o-animation: moveclouds 36s linear infinite;
}

.x5 {
	left: 200px;
	top: 300px;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0.8;
	-webkit-animation: moveclouds 40s linear infinite;
	-moz-animation: moveclouds 40s linear infinite;
	-o-animation: moveclouds 40s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
}