.grid-table table.table tbody tr.grid-table-row td {
    font-weight: normal !important;
}

.custom-file #filename {
    border: 0;
    width: 100%;
}

.steps {
    .h100 {
        min-height: calc(100vh - 175px);
    }
}

.arrow-icon {

    i,
    .fa {
        width: 20px;
        height: 20px;
        border: 1px solid $brand-color;
        border-radius: 50%;
        padding: 1px;
        color: $brand-color;
    }
}


@media (max-width: 767px) {
    #master-data-detail-popup {
        .expended-search-wrpper.active {
            left: -165px !important;
            top: 43px;
            min-height: 33px;
        }

        .modal-header .modal-title {
            width: calc(100% - 40px);
        }
    }

    #master-data-listing,
    #masterDataChildlisting {
        margin-top: 42px !important;
    }
}

#master-data-detail-popup {
    .expandSearch .search_icon {
        top: 8px;
    }
}

#ConfirmPopupArea,
#addMasterDataModal {
    z-index: 1053;
}

.zindex3 {
    z-index: 111 !important;
}


#createChildMasterData {
    margin: 10px 0 0 15px;
    position: relative;

    #add-child-div {
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            width: 1px;
            height: calc(100% - 17px);
            position: absolute;
            display: block;
            background: #ccc;
            left:-6px;
            top:-17px;
        }

        &:after {
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            display: block;
            background: #ccc;
            left: -15px;
            top: -26px;
            border-radius: 50%;
        }

        div.rowSpaceReduce {
            position: relative;

            &:after {
                content: '';
                width:24px;
                height: 1px;
                background: #ccc;
                position: absolute;
                top: 17px;
                left: -7px;
                z-index: 0;
            }
        }
    }
}


.appendFormChildMasterData {
    max-height: 50vh !important;
}

.selfhelp {
    border-radius: 20px;
    background: rgba($brand-color, .05);
    color:$brand-color;
    padding: .10rem .70rem .12rem .40rem;
    font-size: 12px;
    font-weight: 500;
    border:1px solid rgba($brand-color,.2);
    line-height:24px;

    .iconH {
        border-radius: 50%;
        margin-right:2px;
        color: $brand-color;

        &:before {
            color: #fff !important;
        }
    }

    &:hover {
        background: rgba($brand-color, .1);
    }
}

.maxHeight200{
    max-height:200px;
    overflow:auto;
    overflow-x:hidden; 
    margin:0;
    padding:0 0 0 0px;
    &>li {
        counter-increment: listCounter;
        position: relative;
        padding:3px 0px;
        margin-bottom:10px;

        &:hover{
            background-color:#eee;
        }
    }
}