	:root {
	--brand-color:#273dd9;
	--brand-light-color:#f1f3ff;
}
#__npfdivChatMain .chatHeader{max-height:80px;}
#__npfdivChatMain .chatBody{/*background:url(/img/chatbot/bgpattern.png) repeat center center;*/background-color: #fff;border-radius:20px 20px 0 0;margin-top: -15px;padding-top: 5px;}
#__npfdivChatMain #__npfchatWindow .ac-pushButton{display:inline-flex;width:auto;border-width:1px;padding:6px 12px;margin:3px 8px 3px 0;color:var(--brand-color);background-color:#fff;font-size:13px!important;}
#__npfdivChatMain #__npfchatWindow .ac-pushButton:hover{background-color: var(--brand-color) !important;color: #fff !important;}
.__npfchatmsg_left .ac-container:after{display:none;}
#__npfdivChatMain #__npfchatWindow .__npfchatmsg_left:not(.buttonCardDiv) .ac-container, 
#__npfdivChatMain .chatBody .message-in .messageText{border-radius:0 20px 20px 20px;margin-top:10px;max-width:70%;min-width:80px;width:auto;padding:10px 20px !important;}

#__npfdivChatMain #__npfchatWindow .__npfchatmsg_right .ac-container{border-radius:20px 20px 0 20px;}
.__npfchatmsg_right .ac-container:after{display:none;}

.sessionButtonCardDiv .buttonCard{text-align:center;}

.buttonCardDiv .botIcon, .buttonCardDiv .npfChat_loader, .buttonCardDiv.__npfchatmsg_left .ac-container:after,.otpCardDiv .botIcon, .otpCardDiv .npfChat_loader, .otpCardDiv.__npfchatmsg_left .ac-container:after, .sessionButtonCardDiv .botIcon, .sessionButtonCardDiv .npfChat_loader, .sessionButtonCardDiv.__npfchatmsg_left .ac-container:after{display:none;}
.buttonCardDiv .ac-adaptiveCard .ac-textBlock, .buttonCardDiv .ac-adaptiveCard .ac-textBlock .message, .sessionButtonCardDiv .ac-adaptiveCard .ac-textBlock, .sessionButtonCardDiv .ac-adaptiveCard .ac-textBlock .message{background:transparent;}
#__npfdivChatMain #__npfchatWindow  .buttonCardDiv  .ac-container,  
#__npfdivChatMain #__npfchatWindow  .sessionButtonCardDiv  .ac-container
#__npfdivChatMain .chatBody .buttonCardDiv .message-in .messageText, 
#__npfdivChatMain .chatBody .sessionButtonCardDiv .message-in .messageText{
background-color:transparent!important;border:none!important;margin:0 !important;padding:0 10px 0 40px !important;}

#__npfdivChatMain #__npfchatWindow .__npfchatmsg_left.sessionButtonCardDiv .ac-container{    
	background: transparent !important;
    border: transparent !important;
    width: 100% !important;
    text-align: center;
    max-width: 100% !important;
    padding: 0 !important;
	cursor:pointer;
}
.sessionButtonCard{text-align:center;}

.otpCardDiv{align-items:center;justify-content:center;}
#__npfdivChatMain #__npfchatWindow .__npfchatmsg_left.otpCardDiv .ac-adaptiveCard{background-color:#fff !important;border-radius:4px;width:80%;box-shadow:0 0 5px #ccc;padding:2px !important;margin:20px 0;}
#__npfdivChatMain #__npfchatWindow .__npfchatmsg_left.otpCardDiv .ac-adaptiveCard .ac-textBlock{background-image:none;padding:15px 30px;background-color:#fff;}
#__npfdivChatMain #__npfchatWindow .__npfchatmsg_left.otpCardDiv .ac-textBlock .message{background-color:transparent;}

.__npfchatmsg_right .bgIcon{display:none;}