.graphContainer{
	padding:10px 15px 0;
	border:1px solid #ddd;
}

.chartUpperprt {
    display:block;
	margin-bottom:0;
	position:absolute;
	right:15px;
	z-index:11;
	top: 10px;
}

.chart-filter {
    position:relative;
    z-index:11;
}

.bgChart {
    text-align:center;
}

.leads-instance-container, .state-wise-container{background-color:#f2f2f2;}


.bgChart .chartBg{
    margin:20px 10px;
    max-width:358px;
    overflow:hidden;
	display:inline-block;
}

.graph-2column .chartBg{
	max-width:500px !important;
}

.graphTitle{
	font-size:15px;
	font-weight: bold;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}

text{cursor: pointer;}