// -----------------------------------------------------------------------------
// This file contains all styles related to the main container of the site/application.
// -----------------------------------------------------------------------------
#main {
    @include transition(margin-left .5s);
    min-height: calc(100vh - 152px);
    position: relative;
    @include transition(all 0.5s);
}

.header-info {
    padding-left: 65px !important;
    min-height: 47px;
}

@include media(">=tablet") {
    #main {
        margin-left:45px;
        z-index: 1;
        min-height: calc(100vh - 105px);
    }

    .main-container {
        padding: 15px;
    }

    .nav-open {

        #main {
            margin-left: 220px;
        }

        .header-info{
            margin-left: 170px;
            transition:all .5s;
        }
        footer{
            margin-left: 180px;
            transition:all .5s;
        }
    }
}