@import 'colors';

.table .badge,
.custom-badge {
    border-radius: 20px;
    text-transform: capitalize;
    color: #111;
    padding: 4px 12px;
    font-size: 85%;
    line-height: 1;
    padding: 4px 12px;
    border: 1px solid;
    position: relative;
    display: inline-block;

    &:before {
        // content: '\002B24';
        position: absolute;
        left: 0;
        font-size: 10px;
    }

    &.data-Open {
        background: rgba($danger, .2);
        border-color: rgba($danger, .2);
        color: $danger;
    }


    &.data-In.Progress {
        background: rgba($warning, .2);
        border-color: rgba($warning, .2);
        color: $warning;
    }

    &.data-Closed {
        background: rgba($success, .2);
        border-color: rgba($success, .2);
        color: $success;
    }

    &.data-schedualed {
        padding-left: 25px;
        background: rgba($warning, .2);
        border-color: rgba($warning, .2);
        color: $warning;

        &:before {
            color: $warning;
            font-size: 15px;
            content: '\e191';
            font-family: 'Material Icons';
            position: absolute;
            top: 2px;
            left: 8px;
        }
    }

    &.data-excuted {
        padding-left: 25px;
        background: rgba($success, .2);
        border-color: rgba($success, .2);
        color: $success;

        &:before {
            color: $success;
            font-size: 15px;
            content: '\e858';
            font-family: 'Material Icons';
            position: absolute;
            top: 2px;
            left: 8px;
        }
    }

    &.data-schedualed {
        padding-left: 25px;
        background: rgba($warning, .2);
        border-color: rgba($warning, .2);
        color: $warning;

        &:before {
            color: $warning;
            font-size: 15px;
            content: '\e191';
            font-family: 'Material Icons';
            position: absolute;
            top: 2px;
            left: 8px;
        }
    }

    &.data-excuted {
        padding-left: 25px;
        background: rgba($success, .2);
        border-color: rgba($success, .2);
        color: $success;

        &:before {
            color: $success;
            font-size: 15px;
            content: '\e858';
            font-family: 'Material Icons';
            position: absolute;
            top: 2px;
            left: 8px;
        }
    }
}
