.grid-table table.table tbody tr.grid-table-row td{
    font-weight: normal !important;
 }

 @media (max-width: 767px){
    .expended-search-wrpper.active {
        left: -240px !important;;
    }
}


.arrow-icon {
    i,.fa {
        width: 20px;
        height: 20px;
        border: 1px solid $brand-color;
        border-radius: 50%;
        padding: 1px;
        color: $brand-color;
    }
}
.mdvalues{
    margin:0px;
    border: 1px solid rgba(0,0,0,0.1);
    border-top:0;
    &.mdvaluescroped{
        border-top:1px solid rgba(0,0,0,0.1)!important;
    }
}

.enable-mdvalues,.disable-mdvalues{
    margin:0px;
    border: 1px solid rgba(0,0,0,0.1);
    border-top: 0;
}

.searchresult,.enableSearchResult,.disableSearchResult{
    max-height:215px;
    overflow: auto;
    width:100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    background:#fff;
    li{ 
        display:block;
        margin:0 5px;
        a{
        padding:.15rem .625rem;
        display:block;
        color:#666;
        }
        &:hover a{
            background: #dfe8ec;
            color: #538197;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
        }
        &:first-child{
            margin-top:5px;
        }
        &:last-child{
            margin-bottom:5px;
        }
    }
}

.searchicon{
    clear:both;
    position: relative;
     ;
    margin-bottom:5px;
    input{
        padding-left:20px;
         
    }
    &:before{
        content: "\f002";
        display: inline-block;
        font-family:FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        position:absolute;
        left:0px;
        top:8px;
        color:#ccc;
    }
}
.croplist{ 
    li {
        position: relative;
        margin:0px 5px 8px 0;
        padding: 0.5em 2em 0.5em 0.6em;
        background: #bfcff2;
        border: 1px solid #88a6e7;
        color: #4c79dc;
        font-weight: 500;
        max-width: 100%;
        border-radius: 3px;
        line-height: 13px;
        cursor: default;
        a {
            font-size: 13px;
            color: #4c79dc;
            &:hover{
                color:#4c79dc;
            }
        }
        &.noRelventData{
            border:0;
            background: none;
            float:none;
        }
    }
    &.cropedvalue{
        li{font-size:13px;
            float:left;

            button.removeCropedmd{
                position: absolute;
                right: 9px;
                top: 5px;
                color: #4c79dc;
                cursor: pointer;
                border: 0;
                width: 12PX;
                height: 12PX;
                font-size: 15px;
                background: none;
                &:hover{
                    background:none;
                    color:#4c79dc;
                }
            }
        }
    }
}

.steps{
    .h100 {
    min-height: calc(100vh - 175px);
    }
}

.highlightBadge {
    background: #999;
    color: #fff;
    border-radius: 20px;
    padding: 2px 8px;
    line-height: 15px;
    display: inline-block;
    &:hover,&:focus{
        color:#fff;
    }
}
