.dark-mode {
    color: #fff;
    background: #222239;

    .navbar .navbar-toggler .navbar-toggler-icon,
    .btn-dark {
        background-color: #fff;
    }

    .btn-dark {
        color: #1e1e30 !important;
    }

    .navbar .navbar-nav .nav-item .nav-link .material-icons,
    .navbar .navbar-nav .nav-item .nav-link .fa,
    .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
    .bootstrap-select>.dropdown-toggle.bs-placeholder:active {
        color: #fff;
    }

    .hover-effect:hover {
        background: #1e1e30;
        color: #fff !important;
        border-color: #14141f;

        &:hover {
            background-color: #31314e !important;
        }
    }

    nav.navbar .bootstrap-select .btn {
        background: #1e1e30;
        color: #fff !important;
        border-color: #14141f;

        &:hover {
            background-color: #31314e !important;
        }
    }

    .bg-light,
    .grid-table table.table tr td,
    .grid-table table.table tr th,
    .sidebar,
    .owl-nav>button i,
    .modal-content,
    .bootstrap-select .btn,
    .bootstrap-select:hover,
    .bootstrap-select:focus,
    .bootstrap-select.active,
    .form-group .bootstrap-select,
    .offCanvasModal .modal-header .close:hover {
        background-color: #1e1e30 !important;
    }

    .bg-white,
    select,
    input,
    .footer-white,
    .navbar-translate,
    .dropdown-menu,
    .grid-table table.table thead tr td,
    .grid-table table.table thead tr th,
    .offCanvasModal .modal-header,
    .offCanvasModal .modal-footer {
        background-color: #161625 !important;
    }

    .text-muted,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel button.owl-dot,
    .grid-table table tbody tr td:before,
    .offCanvasModal .modal-header .close {
        color: #cccccc !important;
    }

    .text-dark,
    select,
    input,
    .btn.btn-link,
    .navbar-translate .navbar-toggler,
    .dropdown-menu .dropdown-item,
    .title,
    .title a,
    .card-title,
    .card-title a,
    .info-title,
    .info-title a,
    .footer-brand,
    .footer-brand a,
    .footer-big h5,
    .footer-big h5 a,
    .footer-big h4,
    .footer-big h4 a,
    .media .media-heading,
    .media .media-heading a {
        color: #fff !important;
    }

    .border-card .border.active,
    .select-box .select-blank:hover,
    .select-box .select-blank:focus,
    .select-box .select-blank.focus,
    .grid-table table.table tbody tr:not(.grid-table-row) td {
        background-color: #31314e !important;
    }

    .dark-theme-border,
    .border-bottom,
    .border-top,
    .grid-table table.table tr td,
    .grid-table table.table tr th,
    .grid-table table.table tbody tr.grid-table-row,
    footer .social-buttons a,
    footer .social-buttons .btn,
    .bootstrap-select .btn,
    .bootstrap-select .btn:hover,
    .hover-effect:hover:hover,
    .select-box .select-blank:hover,
    .select-box .select-blank:focus,
    .select-box .select-blank.focus,
    .offCanvasModal .modal-footer {
        border-color: #14141f !important;

    }

    @media only screen and (max-width: 787px) {

        .grid-table table.table {
            border-spacing: 0px;
            border-width: 0 !important;
            box-shadow: none;
            border-color: transparent !important;
        }

        .grid-table table.table tr td,
        .grid-table table.table tr th {
            border-width: 0 !important;
            box-shadow: none;
            border-color: transparent !important;
        }
    }

}