// Vendor
@import "vendors/owl.carousel/src/scss/owl.carousel.scss",
"vendors/date-range-picker";

// Sections and  pages
@import "components/grid-table",
"components/expandSearch",
"components/status";

#mongoLogDetailPopup {
  table {
    td {
      padding: .5rem;
      word-break: break-word;
      vertical-align: top;
      &:first-child{
        padding-right: 15px;
        white-space: nowrap;
      }
    }
  }
}

.expended-search-wrpper {
  @media only screen and (max-width: 767px) {
    left: auto !important;
    right: -80px;
    z-index: 9;
  }
}