// Vendor
@import "vendors/owl.carousel/src/scss/owl.carousel.scss",
"vendors/date-range-picker";

// Sections and  pages
@import "components/grid-table",
"components/expandSearch",
"components/border-card",
"components/owl-carousal",
"components/nav-btn-group";


.date-picker:after {
  @media only screen and (max-width: 375px) {
    content: none;
  }
}

.year-filter {
  @media only screen and (max-width: 375px) {
    flex-direction: column;
  }

  .filter-option-inner-inner {
    position: relative;

    &:before,
    &:after {
      content: 'FY';
      position: absolute;
      width: 14px;
      height: 100%;
      color: #999;
    }

    &:before {
      left: 0px;
    }

    &:after {
      left: 53px;
    }
  }
}

.sticky-nav-tab-pill {
  background: #f1f3f4;

  @media only screen and (min-width: 760px) {
    position: sticky;
    top: 51px;
    z-index: 12;
  }
}