@import "./abstracts/mixins", "./abstracts/variables";
// Vendor
@import "vendors/date-range-picker", "vendors/include-media";

// Sections and  pages
@import "components/grid-table",
"components/expandSearch",
"components/status",
"components/video-iframe-modal",
"components/conditional-logic-btn",
"components/customtab",
"components/multiple-radio-group",
"components/columnFilterModal",
"components/drag-item",
"components/timeline",
"components/modal-accordion",
"components/steps",
"components/emailCommunication";

.inline_tabs.position-sticky {
 // top: 0;
}


#create_opportunity_field_popup {
 #toggleAdvanceLink {
  &:after {
   content: '\e5cf';
   font-family: 'Material Icons';
   display: inline-block;
   line-height: 1.5;
   position: relative;
   top: 4px;
   transition: all ease-in-out .5s;
  }

  &[aria-expanded="true"]:after {
   top: 1px;
   transform: rotate(180deg);
  }
 }

 .row {
  transition: all ease-in-out 1s;
 }
}

#opportunity_profile {
 .modal-accordion {
  @media only screen and (min-width: 767px) {
   max-height: calc(100vh - 130px);
   min-height: calc(100vh - 120px);
   overflow: overlay;
  }

  @media only screen and (max-width: 767px) {
   max-height: 100%;
   min-height: 100%;
  }
 }

}

#opportunity_profile_modal .modal-accordion {
 @media only screen and (min-width: 767px) {
  max-height: 100%;
  min-height: 100%;
 }
}

.arrow-steps {
  width: 100%;
 .step {
  background: $grey-300;
  width: 24%;
  padding: 2px 10px !important;

  @media only screen and (max-width: 1200px) {
   width: 160px;
   min-width: 160px;
  }

  &:before {
   border-left-color: #f0f3f4 !important;
  }

  &:before,
  &:after {
   right: -12px;
   border-top: 12px solid transparent;
   border-bottom: 12px solid transparent;
   border-left: 12px solid rgba(75, 123, 221, 0.2);
  }

  &.current:after {
   border-left-width: 12px;
  }

  &:after {
   border-left-color: $grey-300;
  }

  &.bg-light-danger:after {
   border-left-color: $light-danger;
  }
 }
}

#filter-opportunity .bootstrap-select .dropdown-menu li a span.text {
 white-space: nowrap;
}

pre {
 white-space: pre-line;
 border-radius: 4px;
}

.timeline-group .timeline-item {
 &.followup-item:before {
  color: $success;
 }

 &.notes-item:before {
  color: $info;
 }
}

@media only screen and (max-width: 991px){
.inline_tabs.position-sticky{
  position: sticky !important;
 }
}

.ivr-log-details_automation{
  clear:both;
  display:block;
  width:100%;
  margin-top:5px;
}