@import "vendors/date-range-picker",
'vendors/material-kit/variables',
'abstracts/variables',
'vendors/material-kit/mixins',
'abstracts/mixins',
'vendors/include-media',
'vendors/chosen/main',
'vendors/bootstrap-tagsinput/bootstrap-tagsinput',
'vendors/chosen/main';

@import "./components/grid-table",
"./components/expandSearch",
"./components/border-card",
"./components/modal-accordion",
"./components/hierarchy-structure",
"./components/multi-select-pill",
"./components/bulk-upload",
"./components/status",
"./components/toggletag",
"./components/selectPickerNoData",
"./components/configtabcontent",
"./components/verticalmenulist",
"./components/conditional-logic-btn";


.rowone th,
.rowtwo th {
  padding-bottom: 2px;
}

.rowtwo,
.rowthree {
  th {
    padding-top: 0;
  }
}

.grid-table {
  table.table {

    thead,
    tbody {
      tr {

        th,
        td {
          white-space: nowrap;
          font-size: 13px;
        }

        &.rowtwo,
        &.rowthree {
          th {
            font-weight: normal;
          }
        }
      }
    }
  }
}

.noReportCreated {
  @media (min-width:992px) {
    min-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dropdown-toggle.dropdown-toggle-split:after {
  color: #fff !important;
  line-height: 1.3em !important;
}


.dropdown-toggle-split {
  border-radius: 0 4px 4x 0;
  padding: 1.75px !important;
  margin-left: 2px;
}

.reportBuilderContainer {
  overflow: hidden;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  position: relative;

  .leftColumnReport {
    z-index: 13;

    .config-accordian {
      & .card {
        border-radius: 4px;

        // .card-body{
        //   border-radius: 4px;
        // }
        .heading-highlight {
          visibility: hidden;
        }

        .card-body {
          &>[aria-expanded="true"] {
            border: 1px solid #f2f2f2;
            border-bottom-color: transparent;
            padding: 5px 10px;
            border-radius: 5px 5px 0 0;
            background-color: #fff;

            &+.collapse.show {
              border: 1px solid #f2f2f2;
              border-top-color: transparent;
              border-radius: 0 0 5px 5px;
              background-color: #fff;

              .heading-highlight {
                visibility: visible;
              }
            }

          }

          &>[aria-expanded="false"] {
            border: 1px solid transparent;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #f8f9fa;

            &+.collapse {
              border: 1px solid transparent;
              border-top: 0;
              border-radius: 0 0 5px 5px;
              background-color: #f8f9fa;

            }
          }
        }
      }
    }

    .ripple-container {
      display: none;
    }

    .bg-light {
      background-color: #f3f3f3 !important;
    }

    .bg-light2 {
      background-color: #f1f3f4 !important;
    }


    @media(max-width:767px) {
      padding: 0 15px !important;
      border-bottom: 15px solid #f1f3f4;
    }
  }

  .rightColumnReport {
    overflow: hidden;
    flex: 0 0 100%;
    max-width: 100%;

    .reportData {
      box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.050) inset;
      overflow: auto;
      z-index: 11;
      position: relative;
      background: #fbfbfb url(.././images/grid.png) 0 0 repeat;
      background-size: 1%;
      background-attachment: fixed;
      padding: 80px;

      @media (max-width:767px) {
        padding: 20px;
        border-top: 15px solid #f1f3f4;
      }

      &:after {
        background: #f1f3f4 url(.././images/grid.png) 0 0 repeat;
        background-size: 1%;
        background-attachment: fixed;
        content: '';
        height: calc(100% + 0px);
        width: 100%;
        z-index: 1;
        top: 0;
        position: absolute;
        opacity: .05;
        display: none;

        @media (min-width:767px) {
          display: none;
        }
      }

      .reportinner {
        margin-right: 0;
        display: inline-block;
        min-width: 100%;

        table {
          border: 1px solid rgba(0, 0, 0, 0.06);
          overflow:visible!important;
        }

        @media(min-width:768px) {
          z-index: 2;
        }
      }

      // .tableView{
      //   border: 1px solid #dfdfdf;
      //   width: 100%;
      //   background-color: #fff;
      //   position: relative;
      //   z-index: 1;
      //   margin: 0;
      //   thead{
      //     border-bottom: 1px solid #dfdfdf;
      //   }
      //   tr{
      //       th,td{
      //         padding: 3px 5px;
      //         border: 0;
      //         white-space:nowrap;
      //         border-top:1px solid #dfdfdf;
      //       }
      //       th{
      //         vertical-align: middle;
      //         border: 0;
      //       }
      //       &:first-child td{
      //         border: 0;
      //       }
      //   }
      // }
      @media (min-width:767px) {
        height: calc(100vh - 144px);
        position: absolute;
        left: 0;
        right: 0;
      }
    }

    &:hover {
      .sidebarToggle {
        display: flex;
      }
    }
  }
}

.addmenucontainer {
  position: relative;
}


.createdtaglist {
  .tag {
    font-size: 13px;
  }
}

.addMenudiv {
  left: -375px;
  position: absolute;
  top: 15px;
  transition: left .2s ease;
  transition-delay: .1s;
  width: 350px;
  z-index: 0;
  box-shadow: 0px 0px 10px 0px rgba(217, 217, 217, 1);
  background: #fff;
  min-height: 200px;
  border-radius: 10px;
  z-index: 03;

  &.active {
    left: 15px;
    z-index: 13;
    opacity: 1;

    @media (max-width:767px) {
      z-index: 11111;
      max-width: 100%;
      width: calc(100% - 25px);
      position: fixed;
      top: 45px;
      overflow: auto;
    }
  }

  .fieldlist {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 5px 10px;
      position: relative;
      border-top: 1px solid #e2e1e6;

      .material-icons {
        display: none;
        position: absolute;
        right: 8px;
        top: 8px;
      }

      &.active {
        .material-icons {
          display: block;
          color: #4c79dc;
        }
      }

      &:hover {
        background: #f2f2f2;
        cursor: pointer;
      }

      &:first-child {
        border: 0;
      }
    }
  }

  .bottombtn {
    border: 0;
    color: #fff;
    position: sticky;
    background: rgba(76, 121, 220, .8);
    border-radius: 0 0 8px 8px;

    &:hover {
      background: rgba(76, 121, 220, 1);
      color: #fff;
      cursor: pointer;
    }
  }

  &.active+&-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    background: rgba(255, 255, 255, .9);
    display: block;

    @media (max-width:767px) {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      z-index: 11110;
      background: rgba(255, 255, 255, .9);
    }
  }

  .maxdataScroll {
    max-height: calc(100vh - 345px);
    min-height: 36px;
    overflow: auto;
    overflow-x: hidden;
    padding-right: 10px;

    .custom-checkbox,
    .custom-radio {
      width: 100%;
    }
  }

  .config-accordian .arrow-icon {
    &[aria-expanded="false"] .fa {
      transform: rotate(-90deg) !important;
    }

    &[aria-expanded="true"] .fa {
      transform: rotate(0deg) !important;
    }
  }

  .closebtn {
    right: 10px;
    top: 10px;
    cursor: pointer;
    position: absolute;
  }
}


.searchWidthicon {
  position: relative;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  overflow: hidden;

  input[type="text"] {
    background-color: #fff !important;
    background-image: none;
    padding: 5px 5px 5px 25px;
    height: 30px;
  }

  .material-icons-outlined {
    position: absolute;
    left: 5px;
    top: 6px;
    font-size: 18px;
    color: #ccc;
  }

  &.is-focused {
    border-color: #4c79dc;
  }
}

.selectedField {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    padding: 5px 8px;
    margin-bottom: 3px;
    border-radius: 3px;
    font-size: 12px;
    background-color: transparent!important;

    .removeList {
      top:8px;
    }

    span#select {
      display: block;
    }

    .filterCount {
      width: 23px;
      right: 14px;
      top: 7px;
      position: absolute;
      background: #f3f3f300;
      height: 22px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .05);

      .filterCount {
        background-color: rgba(0, 0, 0, .005);
      }
    }

    .date-range-picker {
      position: absolute;
      z-index: 999;
      height: 55px;
      width: 100%;
      top: 0x;
      display: block;
      opacity: 0;
      left: 0px;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }

    &.dateCalanderIcon.bg-light {
      background: #fff !important;
      border: 1px solid #ccc;

      &:before {
        content: '\e93c';
        font-family: 'lineicon';
        position: absolute;
        right: 8px;
        top: 6px;
        z-index: 0;
        cursor: pointer;
      }

      &:hover {
        background: #fff !important;
      }
    }
  }
}

#selected_filters_field {
  li {
    &:hover {
      background-color: #ededed !important;
    }
  }
}

.nolist {
  list-style: none;
}

.nogap {
  margin: 0;
  padding: 0 0 0 10px;

  .card {
    border-radius: 0;

    &:not(:first-child):last-child {
      border-bottom: 0 !important;
    }

    button {
      &[aria-expanded="true"] {
        transform: rotate(180deg);
      }

      .ripple-container {
        display: none !important;
      }
    }
  }
}

.sortorder {
  li {
    margin: 5px 0;

    label {
      color: #333;
    }
  }
}

.chart {
  max-width: 80px;
  padding: 0;
  border: 0 !important;
  background-image: none !important;
  max-width: 60px;

  .btn {
    border: 0 !important;
    padding: 0;
  }

  .dropdown-toggle {
    width: 60px;
    border: 0;
    color: $primary;

    .content {
      display: none;
    }

    &:hover,
    &:focus {
      color: $primary !important;
    }
  }


  .dropdown-menu {
    li a span.text {
      display: flex;
      align-items: center;

      .material-icons-outlined {
        font-size: 16px;
        margin-right: 4px;
      }
    }
  }
}



.tags {
  max-width: 80px;
  padding: 0;
  border: 0 !important;
  background-image: none !important;
  max-width: 60px;

  .btn {
    border: 0 !important;
    padding: 0;
  }

  .dropdown-toggle {
    width: 60px;
    border: 0;
    color: $primary;
    opacity: 0;

    .content {
      display: none;
    }

    &:hover,
    &:focus {
      color: $primary !important;
    }
  }


  .dropdown-menu {
    li a span.text {
      display: flex;
      align-items: center;

      .material-icons-outlined {
        font-size: 16px;
        margin-right: 4px;
      }
    }
  }
}

.favouriteBtn {
  .favouriteFilled {
    display: none;
  }

  &.active {
    .favouriteFilled {
      display: block;
      color: orange;
      margin-top: -5px;
    }

    .favouriteoutline {
      display: none;
    }
  }
}


.selectedFilter {
  height: 30px;
  border-radius: 5px;
  font-size: 12px;
  padding: 3px 23px 3px 10px;
  position: relative;
  border: 1px solid rgba(76, 121, 220, .2);
  white-space: nowrap;
  margin-bottom: 5px;
  color: #4c79dc;
  font-weight: 500;
}

.remove,
.removeList {
  position: absolute;
  right: 3px;
  top: 4px;
  color: #333;
  border-radius: 50%;
  padding:0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height:16px;

  &:hover {
    color: red;
    background-color: rgba(255, 255, 255, .8);
  }
}

.totalSort {
  margin-top: 25px;

  @media (min-width:767px) {
    bottom: 20px;
    position: absolute;
    right: 23px;
  }
}


.selectedFilterContainer {
  height: 44px;
  overflow: auto;
  padding-right: 10px;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 35px;
    display: block;
    background: rgb(255, 255, 255);
    background: linear-gradient(270deg, rgba(255, 255, 255, .5) 34%, rgba(255, 255, 255, 1) 100%);
    z-index: 1;
    display: none;
  }

  &:before {
    left: 0px;
  }

  &:after {
    right: 0px;
  }

  &:hover {
    overflow-x: auto;
  }

  .stickyleft {
    position: sticky;
    left: 0;
    z-index: 1;
  }

  &:first-child .selectedFilter {
    margin-left: 30px;
  }
}



@media(min-width:767px) {
  .fullHeight {
    height: calc(100vh - 50px);
  }

  .maxheight450 {
    height: calc(100vh - 115px);
    overflow: auto;
    overflow-x: hidden;
    padding-right: 15px;
    padding-left: 15px;
  }
}


.text-truncated-custom {
  overflow: hidden;
  text-overflow: ellipsis;

  @media(min-width:767px) {
    white-space: nowrap;
  }
}

.card {
  & [aria-expanded="true"] {
    .text-truncated-custom {
      overflow: visible;
      white-space: normal;
    }
  }
}


.tagdropdown {
  .dropdown-toggle {
    padding: 0;
    border: 0;
    background: transparent;

    &:after {
      display: none;
    }
  }
}

.filterCount {
  .badge {
    position: absolute;
    border-radius: 50%;
    padding: 3px 3px;
    right: -8px;
    min-width: 15px;
    text-align: center;
    z-index: 03;
  }
}



#desktop-slide {
  padding: 0;
  height: 100%;
  width: 0;
  position: absolute;
  top: 0px;
  left: -500px;

  &.opened {
    width: auto;
    position: relative;
    left: auto;
    top: auto;

    &+.rightColumnReport {
      @media(min-width:767px) {
        flex: 0 0 75%;
        max-width: 75%;
      }

      #showSidebar {
        display: flex;
      }
    }
  }
}


.sidebarToggle {
  position: absolute;
  top: 50%;
  left: -3px;
  z-index: 12;
  display: flex;

  a {
    padding: 5px 5px 0 5px !important;
    color: #fff;

    .material-icons-outlined {
      font-size: 18px;
    }
  }

  @media (max-width:767px) {
    top: 100px;
    position: fixed;
    z-index: 11111;
  }

  &:after {
    width: 50px;
    height: 40px;
    background: #4c79dc;
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 20%;
    left: -25px;
    top: -5px;
  }

  &.clicked {
    &::after {
      top: -4px;
    }

    a {
      transform: rotate(180deg);
    }
  }
}


#showSidebar {
  position: absolute;
  bottom: 80px;
  z-index: 111;
  left: -3px;
  display: none;

  a {
    padding: 5px 5px 0px 5px !important;
    transform: rotate(180deg);
  }
}

.loaderBlock {
  display: none;
  position: relative;
  z-index: 100;
  text-align: center;
  height: 100%;
  background: #fff url(../../../../static/theme/v1/images/npfLoader_new.gif) center center no-repeat;
}

#metrics,
#filters_service_data,
#filters {
  .choiceValidation {
    display: none;
  }
}

#metrics {
  .searchWidthicon {
    display: none;
  }
}

.noReportCreate {
  height: calc(100vh - 190px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.dropdown-toggle.dropdown-toggle-split {
  padding: 2px !important;
  margin-left: 2px;
  line-height: 1.6;
  background: #2452b8;
}


.layerUnset {
  z-index: inherit !important;
}

.noData {
  display: none;
  margin: 10px 0 0 20px;
}

.loadMoreReport {
  position: sticky;
  width: calc(100% - 0px);
  text-align: center;
  background: #f1f3f4;
  bottom: 0;
  z-index: 999;
  padding: 10px 0;
}

#previewContent {
  max-height: calc(100% - 66px) !important;

  .reportData {
    padding: 15px;
  }
}


#dataRendering {
  .table {
    tr.rowone {
      th {
        &:last-child {
          padding-top: .75rem;
          min-width: 65px;
        }
      }
    }

    td:last-child {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }

    tr {
      &:last-child {
        th {
          padding-bottom: .75rem !important;
        }
      }
    }
  }
}

#filterDataModalLabel {
  width: 95%
}





.selectParameter {
  display:none;
  .custom-radio {
    width:auto!important;
    display:inline-block;
    margin-right:10px;
    & input ~ .custom-btn-span:before{
      content:'\e836';
    }
    & input:checked ~ .custom-btn-span:before {
      content: '\e837';
 
  }
}
}
.custom-checkbox{
  input[type=checkbox]:checked ~ .selectParameter{
    display:block;
  }
}

.saveDrag{
  display:none;
}

.drag-box {
  li {
    margin-left: 15px;
    .sort-handle{
      cursor:move;
      &:after{
        content: '\e945';
        width:20px;
        height:100%;
        position: absolute;
        left: -20px;
        top:0;
        font-family: 'Material Icons Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        background-color:transparent;
        
        color: #4c79dc;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:3px 0 0 3px;
      }
    }
    .icon-info{
      display:none;
    }
    &:hover .icon-info{
      display:inline;
    }
  }

  .ghost-drag {
    border: 2px dashed #4c79dc !important;
    background:#f3f3f3!important;
    opacity: .6;
    margin-top:0;
    margin-bottom:0;
    min-height:30px;
  }
}
.conditional-logic{
  .conditional-logic-block:before{
    height:calc(100% - 142px);
  }
}


.badge-checkbox{
  position: relative;
  margin:0 2px 0 0;
  
  .badge-btn-span{
    color:#666;
    font-size:13px;
    padding:4px 10px;
    border:1px solid rgba(238,238,238,1);
    border-radius: 20px;
    cursor: pointer;

    &:before{
      content:'\e5ca';
      font-family: 'Material Icons Outlined';
      font-weight: normal;
      font-style: normal;
      font-size: 15px;
      position: relative;
      top:3px;
      left: -3px;
      color:rgba(0,0,0,.1);
    }
  }

  input[type=checkbox]:checked ~ .badge-btn-span{
    border:1px solid rgba(76,121,220,0.2);
    background-color:rgba(76,121,220,.2);
    color:rgba(76,121,220,1);;
    &:before{
      content:'\e5ca';
      color: #4c79dc;
    }
  }
}

.modal.modal-fullscreen .modal-dialog {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none;
}





th[class*="headerCollapseSubStage_"]{
	padding-right:25px!important;
  position: relative;
	.columnCollasp{
		position: absolute;
		right: 0;
		top:40px;
		z-index: 99;
		color:#fff;
		
		&:before {
			background:rgba(0,116,217,1);
			padding: 10px 6px;
			content: '';
			z-index: -1;
			position: absolute;
			right:2px;
			width: 0px;
			height: 25px;
			top:-3px;
			border-radius: 15px 0 0 15px;
			font-size:10px;
		}


		&:after {
			content: '';
			width: 2px;
			height:92px;
			background:rgba(0,116,217,1);
			display: block;
			position: absolute;
			top: -40px;
			right:0px;
			z-index: 99;
		}

		.material-icons-outlined{
			transform: rotate(0deg);
			transform-origin: center;
			&:before{
				font-size:10px;
				line-height: 20px;
			}
		}

		&:hover,&:focus{
			color:#fff;
		}
    &.collapsed{
      .material-icons-outlined{
        transform: rotate(180deg);
        transform-origin: center;
    }
  }
	}



	.collapsed{
		color:#4b7bdd;
		&:before,&:after {
			background:rgba(0,116,217,.3);	
		}

		& .fa-chevron-right:before{
			font-size:10px;
		}

		&:hover,&:focus{
			color:#4b7bdd; 
		}
		
		.fa-chevron-right {
			transform: rotate(0deg);
			line-height: 18px;
		}
	}
}




.accodianMenuParent{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 15px;
  &.hasArrow {
	color: #0074d9;
	width: 200px;
  }
}
  tr.childCounsellor td {
	padding: 8px !important;
	font-size: 90%;
  }
  tr.childCounsellor td:first-child {
	padding: 8px 8px 8px 15px !important;
  }
  .tableproductivity {
	thead {
		th {
			white-space: nowrap;
		}
	}
	tr{
		td:first-child{
			font-weight:500;
		}
	}
  }

  .hasArrow a[data-toggle="collapse"]:before {
    font-family:'Material Icons Outlined';
    content: "\e313";
    font-size:20px;
    line-height: 12px;
    float: right;
    transition: all 0.5s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

  .hasArrow a[data-toggle="collapse"].collapsed:before, .hasArrow a[aria-expanded="false"]:before {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

@media (min-width: 993px){
  .accodianMenuParent.hasArrow a[data-toggle="collapse"]:before {
      line-height: 100%;
  }
}