@import 'vendors/material-kit/variables',
'abstracts/variables',
'vendors/material-kit/mixins',
'abstracts/mixins',
'vendors/include-media', 'vendors/chosen/main', 'vendors/bootstrap-tagsinput/bootstrap-tagsinput', 'vendors/chosen/main';

@import "./components/grid-table", "./components/expandSearch", "./components/border-card", "./components/modal-accordion", "./components/custom-input", "./components/hierarchy-structure", "./components/multi-select-pill", "./components/bulk-upload", "components/status", "components/verticalmenulist", "components/drag-input-file", "components/profile", "components/timeline", "components/filled-bar", "components/notch", "components/nav-btn-group";

.header-info {
  position: relative;
  z-index: 9;
}

.ticket-left-panel {
  overflow: hidden;

  .text-danger {
    color: #ee554b !important;
  }

  .text-success {
    color: #65c640 !important;
  }

  .text-warning {
    color: #e49f20 !important;
  }
}

.ticket-right-panel {
  border-left: #d1d1d1 1px solid;
}

.student-query-header {
  .bootstrap-select .dropdown-menu {
    min-width: 180px;
  }
}

.dropdown.bootstrap-select {
  width: 100% !important;
}

.bootstrap-tagsinput {
  max-width: 100% !important;
  border-width: 1px;
  padding-left: 5px;
  min-height: 55px;
  border-radius: 4px;

  .label {
    margin-top: 3px;
  }
}

.modal-accordion {
  max-height: 100%;
  min-height: calc(100vh - 290px);
}

.team-group {
  background: #fff;

  &-header {
    min-height: 165px;
  }

  .team-name {
    background: #f1f3f4;
  }

  .empty-card-link {
    min-height: 218px;
  }

  .team-badge {
    font-size: .85rem;
  }

  .team-card-dropdown:not(.show) [data-toggle="dropdown"] {
    @media only screen and (min-width :760px) {
      opacity: 0;
    }
  }

  &:hover {
    background: #f0f4ff;

    .team-name {
      background: #fff;
    }

    .team-card-dropdown:not(.show) [data-toggle="dropdown"] {
      opacity: 1;
    }
  }
}

.team-user-card {
  .team-user-dropdown {
    opacity: 0;
  }

  &:hover {
    background: #f0f4ff;

    .team-user-dropdown {
      opacity: 1;
    }
  }
}

.permission-set {
  height: 100%;
  position: relative;
  z-index: 1;
}

.module-list {
  .badge-label {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &:first-child .badge-label {
    margin-top: 0;
  }
}

.sticky-profile-menu {
  min-height: calc(100vh - 360px);

  .setting-menu {
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .expended-search-wrpper {
    z-index: 9;
    top: 45px;
    left: auto !important;
    right: -80px !important;
  }
}

.sticky-nav-tab-pill {
  background: #f1f3f4;
  @media only screen and (min-width: 760px) {
    position: sticky;
    top: 51px;
    z-index: 12;
  }
}