// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Reports Admin Dashboard Page.
// -----------------------------------------------------------------------------
body{
	background-color:#eee;
}

.title{
	color:#43425d;
}

.big-fields{
	.btn{
		border-radius:0;
		font-size: 15px;
		padding: 11px 14px;
	}
	.chosen-container-single{
		.chosen-single{
			line-height:42px;
			span{
				font-weight: 500;
			}
		}
		.chosen-default{
			span{
				font-weight: 300;
			}
		}
	}
}

.has-dateVal{
	.btn-column{
		padding-top:17px;
		padding-bottom:17px;
		min-width: 58px;
	}
	.date-range{
		font-size: 15px;
		line-height: 25px;
	}
}

.dropdown-menu-download{
	min-width:120px;
	> li{
		>a{
			padding:5px 10px;
			font-size: 13px;
			&:hover{
				background-color:$brand-color;
				color:#fff;
			}
		}
	}
}

.m-0{margin:0!important}.mt-0,.my-0{margin-top:0!important}.mr-0,.mx-0{margin-right:0!important}.mb-0,.my-0{margin-bottom:0!important}.ml-0,.mx-0{margin-left:0!important}.m-1{margin:.25rem!important}.mt-1,.my-1{margin-top:.25rem!important}.mr-1,.mx-1{margin-right:.25rem!important}.mb-1,.my-1{margin-bottom:.25rem!important}.ml-1,.mx-1{margin-left:.25rem!important}.m-2{margin:.5rem!important}.mt-2,.my-2{margin-top:.5rem!important}.mr-2,.mx-2{margin-right:.5rem!important}.mb-2,.my-2{margin-bottom:.5rem!important}.ml-2,.mx-2{margin-left:.5rem!important}.m-3{margin:1rem!important}.mt-3,.my-3{margin-top:1rem!important}.mr-3,.mx-3{margin-right:1rem!important}.mb-3,.my-3{margin-bottom:1rem!important}.ml-3,.mx-3{margin-left:1rem!important}.m-4{margin:1.5rem!important}.mt-4,.my-4{margin-top:1.5rem!important}.mr-4,.mx-4{margin-right:1.5rem!important}.mb-4,.my-4{margin-bottom:1.5rem!important}.ml-4,.mx-4{margin-left:1.5rem!important}.m-5{margin:3rem!important}.mt-5,.my-5{margin-top:3rem!important}.mr-5,.mx-5{margin-right:3rem!important}.mb-5,.my-5{margin-bottom:3rem!important}.ml-5,.mx-5{margin-left:3rem!important}.p-0{padding:0!important}.pt-0,.py-0{padding-top:0!important}.pr-0,.px-0{padding-right:0!important}.pb-0,.py-0{padding-bottom:0!important}.pl-0,.px-0{padding-left:0!important}.p-1{padding:.25rem!important}.pt-1,.py-1{padding-top:.25rem!important}.pr-1,.px-1{padding-right:.25rem!important}.pb-1,.py-1{padding-bottom:.25rem!important}.pl-1,.px-1{padding-left:.25rem!important}.p-2{padding:.5rem!important}.pt-2,.py-2{padding-top:.5rem!important}.pr-2,.px-2{padding-right:.5rem!important}.pb-2,.py-2{padding-bottom:.5rem!important}.pl-2,.px-2{padding-left:.5rem!important}.p-3{padding:1rem!important}.pt-3,.py-3{padding-top:1rem!important}.pr-3,.px-3{padding-right:1rem!important}.pb-3,.py-3{padding-bottom:1rem!important}.pl-3,.px-3{padding-left:1rem!important}.p-4{padding:1.5rem!important}.pt-4,.py-4{padding-top:1.5rem!important}.pr-4,.px-4{padding-right:1.5rem!important}.pb-4,.py-4{padding-bottom:1.5rem!important}.pl-4,.px-4{padding-left:1.5rem!important}.p-5{padding:3rem!important}.pt-5,.py-5{padding-top:3rem!important}.pr-5,.px-5{padding-right:3rem!important}.pb-5,.py-5{padding-bottom:3rem!important}.pl-5,.px-5{padding-left:3rem!important}

.border-right{border-right:1px solid #dee2e6!important}.border-bottom{border-bottom:1px solid #dee2e6!important}.border-left{border-left:1px solid #dee2e6!important}.border-0{border:0!important}.border-top-0{border-top:0!important}.border-right-0{border-right:0!important}.border-bottom-0{border-bottom:0!important}.border-left-0{border-left:0!important}.border-primary{border-color:#007bff!important}.border-secondary{border-color:#6c757d!important}.border-success{border-color:#28a745!important}.border-info{border-color:#17a2b8!important}.border-warning{border-color:#ffc107!important}.border-danger{border-color:#dc3545!important}.border-light{border-color:#f8f9fa!important}.border-dark{border-color:#343a40!important}.border-white{border-color:#fff!important}

.rounded{border-radius:.25rem!important}.rounded-top{border-top-left-radius:.25rem!important;border-top-right-radius:.25rem!important}.rounded-right{border-top-right-radius:.25rem!important;border-bottom-right-radius:.25rem!important}.rounded-bottom{border-bottom-right-radius:.25rem!important;border-bottom-left-radius:.25rem!important}.rounded-left{border-top-left-radius:.25rem!important;border-bottom-left-radius:.25rem!important}.rounded-circle{border-radius:50%!important}.rounded-0{border-radius:0!important}.clearfix::after{display:block;clear:both;content:""}

    
.total-Segregation {
    display: inline-block;
    width: 100%;
	.owl-carousel{
		.owl-item{
			text-align:center;
		}
	}
}

.score-col{
	min-width:200px;
    display: inline-block;
	vertical-align: top;
	text-align: left;
	.score-text{
		color:#111;
	}
	.score-count{
		line-height: 35px;
		strong{
			font-size:35px;
			color:#1f77b4;
		}
		.trends{
			margin-left: 5px;
			i{
				font-size: 12px;
				margin-right: 2px;
			}
		}
	}
	.score-distribution {
		margin-top:5px;
		.progress{
			&.disable{
				&:before{
					content: '';
					background-color: rgba(255, 255, 255, 0.5);
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 1;
					left: 0;
					cursor: not-allowed;
				}
			}
			margin-bottom:10px;
			position:relative;
			&:last-child{
				margin:0;
			}
			.progress-bar{
				text-align:left;
			}
			.progress-text{
				position:absolute;
				left:10px;
				top:1px;
				font-size:12px;
				font-weight:500;
				color:#333;
				a{
					color:#333;
				}
			}
		}
		.progress-bar-score{
			background-color: #b8e0f9;
		}
	}
}


.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
}
@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}


.panel-reports {
	border-radius:0;
	border:none;
	.panel-heading{
		color: #333;
		border-color: #eee;
		padding:0;
	}
}

.table-blue{
	th {
		background-color:#1f77b4;
		color:#fff;
	}
}

.data-conversion{
	.table-responsive{
		max-width: 300px;
		display: inline-block;
		width: 100%;
		table{
			text-align:left;
			td, th{
				padding:5px 10px;	
			}
		}
	}
}

.dateFormGroup{
	position:relative;
	.iconDate{
		position: absolute;
		right: 5px;
		top: 7px;
		opacity: 0.8;
	}
	.daterangepicker_report{
		padding-right:20px;
	}
}

.graphDiv{
	.col-sm-12{
		&:last-child{
			.panel-reports{
				margin-bottom:0;
			}
		}
	}
}

.chartData{
	min-height:350px;
}

/*** Conversion Funnel ***/
g{font-family: "Roboto",sans-serif !important}
text tspan[dy="-10"] {
    font-size: 22px;
}
text tspan[dy="20"] {
    font-size: 13px;
}

select[multiple]{
	height:100%;
}
.vsGraph {
	background-color: #eee;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 40px;
	z-index: 11;
	font-weight: 500;
	color: #666;
	box-shadow:0 0 5px #999;
}

g[class*="toolbar-master"] {
	stroke:red;
	g[class*="button"]{
		> rect{
			stroke: #1f77b4;
		}
		path{
			stroke: #1f77b4;
		}
	}
}

@include media(">tablet") {
	.row-flex{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.vsGraph {
		position: absolute;
		left: 50%;
		margin-left: -20px;
		top: 50%;
		margin-top: -20px;
	}
	.verticle-blend-line{
		height: 350px;
		width: 2px;
		background: linear-gradient(#fff, #ddd, #fff);
		position: absolute;
		left: 50%;
		margin-left: -1px;
	}
}

@include media("<tablet") {
	.panel-head{
		background-color:#ddd;
	}
	.panel-opt{
		text-align:right;
	}
	.sidebar.mobinactive{
		margin-left: 0% !important;
	}
	.sidebar.active.mobinactive {
		margin-left: -100% !important;
	}
	.score-col{
		.score-distribution {
			.progress{
				&.disable{
					display:none;
				}	
			}
		}
	}
	.vsGraph {
		display:inline-block;
		position: relative;
		top: -24px;
	}
	.verticle-blend-line{
		background-image: -webkit-linear-gradient(left, transparent 0%, #ddd 50%, #ddd 50%, transparent 100%);
		background-image: linear-gradient(left, transparent 0%, #ddd 50%, #ddd 50%, transparent 100%);
		height: 1px;
		display: inline-block;
		width: 100%;
		margin-top: 30px;
	}
}