// Fonts
$font-stack: 'opensansregular', sans-serif;
$font-stack-semibold: 'opensanssemibold', sans-serif;
$font-stack-bold: 'opensansbold', sans-serif;

// Graphic chart
$primary-color: #5b1730;
$font-color: #111;
$opaque: rgba( $primary-color, .8 );

//social color
$facebook: #37589b;
$twitter: #55acee;
$linkedin: #007bb5;
$gplus: #dd4b39;
$WhatsApp: #4dc247;


