.initBox{
  max-width: 960px;
  margin: 0 auto;

}
.initBoxInner{
  background-color: rgba(0, 0, 0, 0.05);
  padding: 15px;
  border-radius: 4px;
}
.resp-vtabs{
    display: flex !important;
    max-width: 960px;
    margin: 0 auto !important;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px #eee;
}

.resp-tabs-list li {
  font-size: 14px;
  display: inline-block;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
}

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px 30px;
  border-left:2px solid transparent;
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #c1c1c1; }

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: #4b7bdd;
}

/*-----------Vertical tabs-----------*/
.floatify .float_addedd_js, .floatify .chosen-container .chosen-single{font-weight:500;}
.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 20%;
  padding:0;
  background:#f3f3f3; 
  margin:0;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 20px !important;
  margin: 0;
  cursor: pointer;
  float: none;
  border-left:3px solid transparent;
}
.resp-vtabs .resp-tabs-list li:hover{
  background-color:rgba(0, 0, 0, 0.02);
}
.resp-vtabs .resp-tabs-list li:hover a{
  color:#4b7bdd; text-decoration:none;
}
.resp-vtabs .resp-tab-item .glyphicon{display:none;margin-top:3px; font-size:12px;}
.resp-vtabs .resp-tab-item.resp-tab-active .glyphicon{ display:block;}
.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  float: left;
  width: 80%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-tabs-list .resp-tab-item > a {
    color:#635f5f;
}
.about-contant .npf-form-group .form-control:focus{border-color:#5897fb !important}
.resp-tabs-list .resp-tab-item.resp-tab-active > a {
    color: #4b7bdd;
    font-weight: 600;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  background-color: #fff;
  position: relative;
  z-index: 1;
  border-left-color:#4b7bdd;
  background-image: linear-gradient(to left, #fff, #fbfbfb);
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #DBDBDB !important; }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}