.form-group{padding-bottom:0;margin:0;}
.form-group label{font-size:15px;color:#111;margin-bottom: 0;}
.formbox{border-radius:2px;padding:20px 15px;background-color:#fcfcfc;max-width:500px;margin:0 auto;    display: inline-block;
    width: 100%; text-align: left;}
.formInstruction{text-align:center;margin-top:20px;}
.formInstruction li{margin-bottom:5px;}
.formInstruction li em{color:#111;}
.lockImg i{font-size:60px;color:#aaa;}
.form-group.has-error .form-control{border-color:#f00;}
.form-group.has-error .help-block{display:block;bottom:0;}

.popover .ul_new_password{padding:0;color:#444}
.popover .ul_new_password li{list-style:none;}
.popover .ul_new_password li .fa-check{color:#aaa;}
.popover .ul_new_password li.active .fa-check{color:green;}
.updatePassword .form-group{padding-bottom:10px !important;}
.updatePassword .form-group .error{position:absolute;bottom:8px;left:0;}
.common-manager.updatePassword .npf-form-group .form-control{margin-top:5px!important;}
.ul_new_password .active{color:green!important;}
.forgotLink{position:absolute;right:0;top:1px;text-decoration:none;font-size:13px;}
.forgotLink a{text-decoration:none;}
.forgotLink a:hover{text-decoration:underline;}

@media(min-width:768px){
	#reset-password{margin-top:75px;}
	.formbox{border:1px solid #ccc;padding:25px 40px;}	
	.formInstruction{margin-top:20px;}
	.lockImg i{font-size:120px;}
}
