.main{
	min-height: 92vh;
	padding-top:15px;
	padding-bottom:15px;
}
.container-custom{
	padding: 0 8px;
	display:inline-block;
	width:100%;
}
.page-header{
	margin:0;
	padding:12px 0;
	border-bottom:none;
	border-bottom:1px solid #ccc;
}
.page-header-right{
	padding: 10px 0 ;
	line-height: 28px;
}

.main-content{
	padding-top:56px;
}