<div class="treeview js-treeview">
    <ul>
        <li>
            <div class="treeview__level" data-level="A">
                <span class="level-title">Level A</span>
                <div class="treeview__level-btns">
                    <div class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span></div>
                    <div class="btn btn-default btn-sm level-remove"><span class="fa fa-trash text-danger"></span></div>
                    <div class="btn btn-default btn-sm level-same"><span>Add Same Level</span></div>
                    <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span></div>
                </div>
            </div>
            <ul>

                <li>
                    <div class="treeview__level" data-level="B">
                        <span class="level-title">Level A</span>
                        <div class="treeview__level-btns">
                            <div class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span></div>
                            <div class="btn btn-default btn-sm level-remove"><span
                                    class="fa fa-trash text-danger"></span></div>
                            <div class="btn btn-default btn-sm level-same"><span>Add Same Level</span></div>
                            <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span></div>
                        </div>
                    </div>
                    <ul>

                        <li>
                            <div class="treeview__level" data-level="C">
                                <span class="level-title">Level A</span>
                                <div class="treeview__level-btns">
                                    <div class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span></div>
                                    <div class="btn btn-default btn-sm level-remove"><span
                                            class="fa fa-trash text-danger"></span></div>
                                    <div class="btn btn-default btn-sm level-same"><span>Add Same Level</span></div>
                                    <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span></div>
                                </div>
                            </div>
                            <ul>

                                <li>
                                    <div class="treeview__level" data-level="D">
                                        <span class="level-title">Level A</span>
                                        <div class="treeview__level-btns">
                                            <div class="btn btn-default btn-sm level-add"><span
                                                    class="fa fa-plus"></span></div>
                                            <div class="btn btn-default btn-sm level-remove"><span
                                                    class="fa fa-trash text-danger"></span></div>
                                            <div class="btn btn-default btn-sm level-same"><span>Add Same Level</span>
                                            </div>
                                            <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="treeview__level" data-level="C">
                                <span class="level-title">Level A</span>
                                <div class="treeview__level-btns">
                                    <div class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span></div>
                                    <div class="btn btn-default btn-sm level-remove"><span
                                            class="fa fa-trash text-danger"></span></div>
                                    <div class="btn btn-default btn-sm level-same"><span>Add Same Level</span></div>
                                    <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span></div>
                                </div>
                            </div>
                            <ul>
                            </ul>
                        </li>

                        <li>
                            <div class="treeview__level" data-level="C">
                                <span class="level-title">Level A</span>
                                <div class="treeview__level-btns">
                                    <div class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span></div>
                                    <div class="btn btn-default btn-sm level-remove"><span
                                            class="fa fa-trash text-danger"></span></div>
                                    <div class="btn btn-default btn-sm level-same"><span>Add Same Level</span></div>
                                    <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span></div>
                                </div>
                            </div>
                            <ul>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <div class="treeview__level" data-level="B">
                        <span class="level-title">Level A</span>
                        <div class="treeview__level-btns">
                            <div class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span></div>
                            <div class="btn btn-default btn-sm level-remove"><span
                                    class="fa fa-trash text-danger"></span></div>
                            <div class="btn btn-default btn-sm level-same"><span>Add Same Level</span></div>
                            <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span></div>
                        </div>
                    </div>
                    <ul>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
</div>

<template id="levelMarkup">
    <li>
        <div class="treeview__level" data-level="A">
            <span class="level-title">Level A</span>
            <div class="treeview__level-btns">
                <div class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span></div>
                <div class="btn btn-default btn-sm level-remove"><span class="fa fa-trash text-danger"></span></div>
                <div class="btn btn-default btn-sm level-same"><span>Add Same Level</span></div>
                <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span></div>
            </div>
        </div>
        <ul>
        </ul>
    </li>
</template>