.modal-header-custom{
	background-color:$brand-color;
	border-radius:4px 4px 0 0;
	padding:10px;
}
.popover-title {
    font-size: 13px;
    background-color: rgba(117,183,64,0.5);
}
.popover-content {
  max-height: 200px;
  overflow-y: auto;
  padding:5px 10px;
  font-size: 12px;
 }
 
 .navbar-brand>img{ max-height:45px;}
 
 .page-header{
	border-color:#ccc;
 }