.pagination{
	margin:10px 0 0;
	> li {
		> a, >span{
			padding:4px 12px;
			background-color:#999;
			color:#fff;
		}
		&.disabled{
			>a {
				opacity:0.6;
			}
		}
	}
	&.pagination-primary{
		
	}
}