/*** Password View Styles but not enable for all Colleges ***/
.fa{
	&.toggle-password{
		display:none;
		position:absolute;
		right:10px;
		top:10px;
		color:#333;
		&:hover, &:focus{
			color:#333;
			text-decoration:none;
		}
	}
}